[2016-10-30 17:44] aslakhellesoy commented on #1003
Hi @nodo did you make any progress on this?

[2016-10-30 19:05] nodo commented on #1003
@aslakhellesoy not yet, after seeing added to milestone 4.0 I thought to concentrate on https://github.com/cucumber/cucumber-ruby/pull/954. I would like to pick it up asap though.

[2016-10-31 01:48] alvaroemmanuel commented on #1043
Got it, and agree, I think it would be preferred 99% of time to use `require` instead of `load`, at least for the common user, so I will +1 the idea of a setting that defaults to `require`, but can be changed to use `load` instead if needed, just as @mattwynne suggested.

[2016-10-31 17:34] djwgit commented on #1051
thanks, @mattwynne , that works.

[2016-10-31 17:34] #1051 closed

[2016-11-02 03:22] ducthanh opened #1052 "Skip running a specific feature file"
**Summary**

We are looking for a good way to skip a feature when executing the Cucumber, say my System have some features, and depend on the market demand the stack holders decide to stop a feature on the product for some days or some hour, and they make it without our aware. And we want to skip running the test for that feature until it is enabled (we can get the feature status (on/off) through

[2016-11-02 10:54] aslakhellesoy commented on #1052
Tag the feature with a tag, say `@example_1_service_available` and skip it when you run with `--tags ~@example_1_service_available`

For further questions, please use the [support channels](https://cucumber.io/support) - this is a bug tracker

[2016-11-02 10:54] #1052 closed

[2016-11-09 10:39] mykulanynets opened #1053 "The bug with JSON-report file closing"
## Summary

 I am working on creating the framework based on Cucumber and the aim was to use customised Cucumber JSON report and to generate HTML report based on it (using third party gem) while keeping both.
This is what I did:
[code]

## Expected Behavior

I would expect for JSON report to be ready at this point in order to have the possibility of manipulating with it (to generate another report

[2016-11-16 09:02] luke-hill opened #1055 "Cucumber Transforms. Should they work this way?"
## Summary

Cucumber Transforms don't behave as one would expect. Having searched around for various bits of information, we have a hacky work-around in place here. Which allows us to use them (As they are intended to be), but doesn't allow us to have more complex ones.

## Expected Behavior

If you "explicitly call" `Transform A`. `Transform A` **should** be
1) Searched for in `transforms.rb`.
2a

[2016-11-23 19:02] jsbakker opened #1057 "Pretty formatter freezing up console unless redirected"
## Summary

Firstly, I'm unsure if this is a problem with the formatter code itself or a problem with Calabash, which is the cucumber implementation I've been seeing the issue on. Either way, I have made them aware of it in [this post](https://github.com/calabash/calabash-android/issues/745) and have been going back and forth with them for months until I've reached a conclusion where the pretty fo

[2016-11-23 21:25] mattwynne commented on #1057
Hi @jsbakker,

That sounds like a very frustrating problem. I'm not familiar with exactly how Calabash uses Cucumber under the hood, and I've certainly never heard of anything like this before.

I'm not sure where to start, to be honest. I guess one thing I could suggest would be to see if you can try this from a Linux or OSX machine, just to give us another data point. Is that possible?

[2016-11-23 23:57] jsbakker commented on #1057
When I made the original report with Calabash, I claimed it was also occurring on OS X but now I don't think so. I've just now done a run on nearly 1,400 steps in OS X and there was not a single pause.

On Windows 10, I was seeing this issue with both the `cmd` window and with a coloured console .exe called ANSICON, so it's possible that the issue is not specific to the terminal executable. Window

[2016-11-24 17:32] tejasv02 commented on #953
+1

[2016-11-24 20:05] brasmusson commented on #953
I close this issue because in #977, which is in v3.0.0.pre.1, the usage formatter was changed so it does not have an `after_test_step` method and does not use the `legacy_api` any longer, therefore the stacktrace above is not possible. Should this kind of problem still exist with the usage formatter in v3.0.0.pre.1, which is highly unlikely since the `legacy_api` is the likely source of this probl

[2016-11-24 20:05] #953 closed

[2016-11-28 22:51] MaxPleaner opened #1060 "Don't skip rest of steps after running a 'pending' one"
If I have a few steps and the first step definition says "pending", I expected the rest of the steps to run.

I don't see the point of "pending" if it's going to make all subsequent steps to get skipped.

[2016-11-29 17:11] mattwynne commented on #1060
Interesting idea. TBH I rarely use pending steps, if at all, so I can't really comment either way. I guess most people's workflow is to go through the steps from the top and start to make them work in that order.

This is a similar request to https://github.com/cucumber/cucumber/issues/79

[2016-11-29 18:12] MaxPleaner commented on #1060
@mattwynne yes i saw that. I didn't realize that it was only the current scenario's remaining steps that would be skipped. Adding this functionality via rescue is what I ended up doing.

[2016-11-29 18:12] #1060 closed

[2016-12-02 20:49] anoopsingh opened #1062 "pass/fail staus in cucumber capybara always returns pass even for a fail scenario"
I am using below code snippet to set pass fail result of scenario on sacuelabs.
But this one always returns pass result for all scenario even if that scenario is failing.
I am using cucumber capybara framework.

 jobname = "#{scenario.feature.name} - #{scenario.name}"
  # Output sessionId and jobname to std out for Sauce OnDemand Plugin to display embeded results
  puts "SauceOnDemandSessionID=#{s

[2016-12-07 12:23] nodo commented on #1030
@mattwynne Thanks! sounds good I will pick this up

[2016-12-07 12:26] mattwynne commented on #1030
👍

[2016-12-08 19:43] brasmusson commented on #1030
A question here is whether if it really is the job of the formatter to print the summary, snippets etc., not the least when considering it from the perspective of the future cross-platform formatters.

In Cucumber-JVM the summary, snippets etc. is not printed by formatters, but by a separate summary plugin. Currently there are two built in summary plugins, the `default summary` and the `null summa

[2016-12-09 00:10] mattwynne commented on #1030
I've started extracting a couple of things a bit like you describe here @brasmusson, see https://github.com/cucumber/cucumber-ruby/blob/master/lib/cucumber/formatter/console_counts.rb for example.

I'm ambivalent about whether they're part of the formatters or not in the end, but I do think we should break these things up, and use composition rather than inheritance. The `Formatter::Console` mixin

[2016-12-09 10:44] mattwynne opened #1063 "Automatically require support code when running features in a nested directory"
See https://github.com/cucumber/cucumber-js/pull/693

We should do this too.

[2016-12-10 21:10] nodo commented on #1030
It's a good point @brasmusson. I have just started working on this and I think that separating the logic which prints the summary and the formatter will bring more flexibility and clean code.

@mattwynne if you agree I would try to refactor this as part of this PR. What do you think?

[2016-12-14 09:16] luke-hill commented on #1047
Hi @danascheider Just going through all the active online GitHub items I've created and seeing if there's anything I can do before the break>? For this one is there?

[2016-12-15 17:50] danascheider commented on #1047
Hey @luke-hill, sorry, I've been a very naughty maintainer! I'm wondering if @mattwynne, @brasmusson, @tooky, or @aslakhellesoy have any thoughts on this one as I've been falling down on the job and there have been a lot of changes recently.

[2016-12-15 18:33] jkotests opened #1064 "CLI line option is appended to environment variables"
## Summary

As discovered by [user1638480 on Stack Overflow](http://stackoverflow.com/q/41009138/1200545), when the Cucumber CLI is executed using the `-l` option, its value is appended to each of the supplied environment variables.

## Expected Behavior

When executing

[code]

I would expect `ENV['ENVIRONMENT`]` to be the exact value specified - "LOCAL"

## Current Behavior

`ENV['ENVIRONMENT`]

[2016-12-19 16:25] westlakem commented on #882
@mattwynne  Is there any way to expose the --retry value as an environment variable?  that way I can do something like `if $total_retries == ENV['MAX_RETRIES']`?

[2016-12-21 21:42] maddyjakk opened #1065 "Error viewing Cucumber-JVM .json reports when using Scenario Outline"
Hi,

I use Cucumber+Ruby framework to execute tests and generate .html and .json reports. I'm using Jenkins Cucumber-JVM plugin to view the results/graphs generated out of the cucumber.json report.

For features with Scenario Outlines, I get the following error. Is there a way to work around the issue? (I can email the .json file if needed)
java.lang.NullPointerException
	at net.masterthought.cucu

[2016-12-22 14:59] vveliev commented on #1065
I don't think you are posted in correct project....
[https://github.com/jenkinsci/cucumber-reports-plugin](url)

[2016-12-22 15:09] maddyjakk commented on #1065
Thanks, I've added an issue in the correct project.
 https://github.com/jenkinsci/cucumber-reports-plugin/issues/107

[2016-12-22 15:09] #1065 closed

[2016-12-22 16:57] mattwynne commented on #1064
Thanks for the thorough report Justin.

[2016-12-22 17:57] mattwynne commented on #1047
Hi @luke-hill,

I've read your post over a couple of times, and I'm still not quite clear exactly what you're proposing.

Are you saying that you'd like the output of the rerun formatter to include scenarios that flickered but eventually passed after retries?

[2016-12-22 18:10] mattwynne commented on #1030
@nodo I think that refactoring the console formatter code to make it more modular would be an excellent plan. You might want to do it separately as a "pre-factoring" and then do this work on top of that.

[2016-12-23 16:39] vveliev opened #1066 "Report Formatter Json embed files missing labels"
## Summary
When using json formatter label of the embed file names are ignored, is there any practical reason to do so !?

## Expected Behavior
```embeddings[{"mime_type":"image/png","lable":"Login_page_HTML","data":"iVBORw0KGgoAAAANSUhEUgAAB2wAAAPdCAYAAABGI5gD"}]```

## Current Behavior
```_label``` ignored
## Possible Solution
[code]

[2016-12-29 08:52] luke-hill commented on #1047
Sorry @mattwynne. So essentially our custom Rakefile will only re-run the failed items.

So on *Run1* if *5/10* pass - It would say *5 pass and 5 fail*.
Then on *Re-run1* only *5* would be ran, so we could say get *1/5* passing. So we have *4* scenarios which have failed twice.

I then propose that if the `--retry` parameter was set to 2 for instance, only 4 items would be ran on the 2nd retry. If

[2017-01-01 10:43] brasmusson commented on #1065
@maddyjakk Note, that in Cucumber v2.0.0 the `--expand` options is still needed to produce json files suitable for the Jenkins Cucumber-JVM plugin - when using Scenario Outlines. When using the Json Formatter it would be better to at least use cucumber v2.0.1, where the Json Formatter is re-written against the new formatter-API (#851) - so the `--expand` options is no longer needed, or even better

[2017-01-03 21:09] maddyjakk commented on #1065
@brasmusson - Perfect, that worked! Thank you. I've used the --expand option for now as I'm using v2.0.0 and I see the cucumber reports generated without any exceptions.

[2017-01-09 19:13] junaruga opened #1068 "Need Travis ruby 2.0 test? Nokogiri 1.7 requires Ruby 2.1."
## Summary

Nokogiri 1.7 looks requiring "ruby version >= 2.1.0"
How to fix Travis test for ruby2.0?

## Expected Behavior

## Current Behavior

https://travis-ci.org/cucumber/cucumber-ruby/jobs/190347224

...

## Possible Solution

- Use latest version nokogiri 1.7.x. And stop support for ruby 2.0. Remove ruby 2.0 from `.travis.yml`.
or
- Use old verson nokogiri 1.6. For example, update `cucumber

[2017-01-09 20:01] junaruga opened #1070 "rake cucumber is failed on Ruby 2.4"
## Summary

`bundle exec rake cucumber` is failed on Ruby 2.4.

## Expected Behavior

`bundle exec rake cucumber` is done successfully.

## Current Behavior

`bundle exec rake cucumber` is failed.
`bundle exec rake spec` is done successfully.

## Possible Solution

Fix tests

## Steps to Reproduce (for bugs)

Patch this at first.
https://github.com/cucumber/cucumber-ruby/pull/1069

Then

[code]

[

[2017-01-09 21:31] ericgriffis commented on #401
@mattwynne Has work been done already to this end? I would love to help make this happen, since we have an app that needs to access the steps of failing scenarios, but I don't know where to start

[2017-01-16 19:39] ZakMiller commented on #426
I experienced this issue when I had a "@" for a tag but no text after.

[2017-01-20 13:57] voxik opened #1071 "features/docs/getting_started.feature:7 fails on Ruby 2.4."
## Summary

The test case features/docs/getting_started.feature:7 fails on Ruby 2.4:

## Expected Behavior

The test should pass.

## Current Behavior

[code]

## Possible Solution

This obviously fails due to  https://github.com/cucumber/cucumber-ruby/blob/master/lib/cucumber/runtime.rb#L34 . Isn't it about the time to drop the https://github.com/cucumber/cucumber-ruby/blob/master/lib/cucumber/ru

[2017-01-20 14:02] voxik commented on #1071
Other option is to include it unconditionally ....

[2017-01-20 15:21] aslakhellesoy opened #1072 "Tag issues with "newcomers""
In order to attract newcomers to contribute, we should help them where to start.
Whenever you see a new issue, and you think it is a good fit for someone who isn't familiar with the codebase, tag it with `newcomers`.

All newcomers friendly issues in the cucumber org can be listed [here](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3Acucumber+label%3Anewcomers+no%3Aassignee

[2017-01-21 22:11] #1068 closed

[2017-01-27 10:47] akostadinov commented on #775
Hello, let me chime in this issue as I have a similar concern. We are copying HTML reports to a server so using absolute path is not an option. Using relative path is also not a good option because the test suite component creating the file may not be aware of where formatter expects this path to be relative from.

Additionally, when multiple formatters are used simultaneously, they may expect the

[2017-02-01 16:35] mattwynne commented on #775
@akostadinov I like this proposal. I wonder if, in order to avoid regressions from changing the API, we should make this a new method, perhaps called `attach`. WDYT?

cc @aslakhellesoy I think this would interest you.

[2017-02-01 16:43] mattwynne commented on #1071
Thanks for looking into this @voxik!

I'd definitely prefer if we can avoid showing the `@ rb_sysopen` noise to our users.

I think it would be nicer to stop subclassing the `FileException` and just raise our own error with our own message, and get rid of all of that cruft. Would you like to send a PR for that?

[2017-02-01 16:44] mattwynne commented on #401
Hi @ericgriffis can you tell me more about your use-case?

[2017-02-01 16:55] mattwynne commented on #1070
Thanks for investigating @junaruga. First step here would be to open a WIP PR with the 2.4 build added to travis, so we can all see and talk about the failures. I haven't used 2.4 myself yet but I'm eager for us to support it ASAP.

[2017-02-01 16:56] mattwynne commented on #1068
Thanks for logging this @junaruga, appreciated :) 👍

[2017-02-01 17:59] brasmusson commented on #775
I Cucumber-JVM the signature of the corresponding method (available only in hooks - but anyway) already:
[`void embed(byte[] data, String mimeType);`](https://github.com/cucumber/cucumber-jvm/blob/master/core/src/main/java/cucumber/api/Scenario.java#L40),
so that "embed" signals a file name argument is not common everywhere.

[2017-02-01 19:37] junaruga commented on #1070
@mattwynne ok I will send PR adding Ruby 2.4.0 after #1069 is merged. thanks!

[2017-02-01 19:46] junaruga commented on #1070
@mattwynne ok. I created PR for that now, as I have heard json-1.8.6 (Ruby 2.4.0 compatibility) was released. thanks!
https://github.com/cucumber/cucumber-ruby/pull/1075

[2017-02-01 21:54] akostadinov commented on #775
Probably it is useful to keep supporting file paths as well data. For example some artifacts to embed might be generated outside ruby process and there is no need to load that potentially large data in memory.

Changing the parameter name from `file` to `data` or `src` should not introduce any regressions, it would just be some clue for people reading the API or the source code. Here my proposal d

[2017-02-05 00:57] mattwynne commented on #1026
This is now documented here: https://app.cucumber.pro/projects/cucumber-ruby/documents/master/features/docs/events/test_step_finished_event.feature

[2017-02-05 00:57] #1026 closed

[2017-02-07 14:21] vveliev opened #1076 "Add ability to include feature files and some additional data."
## Summary
After using cucumber for about 2 years now, I have discovered some limitations to the design.

## Expected Behavior

1. Ability to reuse common features in order to avoid code duplication.
This can  partially be resolved using tags and multiple feature files in conjunction but it's very hard to keep things in order. Maybe it's not that bad to add ability to include feature files with in

[2017-02-09 04:28] streetlogics commented on #1044
@mattwynne any progress on this?  Just encountering this issue myself - I love that I finally got the --retry flag working in circleci (note: I had to put the command at the end of the line otherwise a --format option that had an --out param seemed to swallow the retry attempt), however, once the retry started "working", circle still saw the run as a failure. 😞

[2017-02-10 05:55] streetlogics commented on #1044
@mattwynne - I took a really ugly pass at this just to get something working.  Definitely open to any thoughts you might have on improving this for the actual implementation

[2017-02-10 20:24] mattwynne commented on #1044
Awesome, thanks @streetlogics one of us will take a look ASAP

[2017-02-15 10:35] badobernard94 opened #1081 "Add label to embedding in JSON formatter"
## Summary

embed function in Cucumber:Formatter:Json takes 3 parameters(src, mime_type and label). However, only mime_type and data encoded from src are embedded to result json file. It would be better if also label is embedded to result.

## Possible Solution

I don't see into inner code of formatters but all what need to be done is change line:
test_step_embeddings << { mime_type: mime_type, da

[2017-02-15 10:36] #1081 closed

[2017-02-15 10:37] badobernard94 commented on #1081
Duplicate of #1066

[2017-02-15 10:39] badobernard94 commented on #1066
That would be nice

[2017-02-15 19:59] #1003 closed

[2017-02-18 11:46] junaruga opened #1083 "rake cucumber does not work as "0 scenarios""
## Summary

Seeing https://travis-ci.org/cucumber/cucumber-ruby/builds

After this commit https://github.com/cucumber/cucumber-ruby/commit/5f811ce3b6bd46a89a06e4441a2463450f83fb60 ,  all the cucumber tests are skipped as "0 scenarios".

## Expected Behavior

cucumber tests work.

## Current Behavior

### My local environment

[code]

### Travis

Also same issue in Travis.

Look this. All the Ruby

[2017-02-20 17:41] junaruga commented on #1083
I think this issue is urgent, isn't it?

[2017-02-20 18:24] brasmusson commented on #1083
It's a false positive. #1054 is dependent on cucumber/cucumber-ruby-core#116, but the cucumber-ruby-core change was merged 10 minutes after the cucumber-ruby change. Look at the [Travis jobs](https://travis-ci.org/cucumber/cucumber-ruby/builds/202000346) after I've restarted them.

[2017-02-20 18:24] #1083 closed

[2017-02-20 18:51] junaruga commented on #1083
@brasmusson
Your travis job's Ruby 2.4.0 is still 0 scenarios. Is this false positive?
https://travis-ci.org/cucumber/cucumber-ruby/jobs/202000363

[2017-02-20 19:42] brasmusson commented on #1083
https://travis-ci.org/cucumber/cucumber-ruby/jobs/202000363

@junaruga When I follow the link I see:
[code]
Yes, it is a false positive, until you find a job that both has `0 Scenarios` and under the `bundle install` writes `Using cucumber-core 2.0.0 from https://github.com/cucumber/cucumber-ruby-core.git (at master@1dcf049)` (which is when cucumber/cucumber-ruby-core#116 is included)

[2017-02-20 20:23] junaruga commented on #1083
This was my mistake. Maybe. I must see wrong Travis job.

Yes it is the result that you mentioned above now for Ruby 2.4.0 too.
OK, thanks for your explanation.

[2017-02-20 21:13] mattwynne commented on #1083
My bad, I did the merges in the wrong order after testing it locally.

This could confuse others too. Note that until we do a release of core, you'll need an up-to-date copy of that project locally to avoid seeing this result when working on the main cucumber gem.

[2017-02-23 15:10] junaruga commented on #1070
I think my solution for failure tests by `simplecov` warnings, was not good.
I would close this PR.
Thanks for taking time for this PR.

[2017-02-26 19:43] #1071 closed

[2017-02-26 20:46] junaruga commented on #1070
It is fixed by #1079 #1080

[2017-02-26 20:46] #1070 closed

[2017-03-02 22:58] mattwynne opened #1089 "Add junaruga to contributor team"
## Summary

Add @junaruga to the `cucumber-ruby` contributor team

## Detail

Jun has been doing some great work to help Cucumber support the latest versions of Ruby, and so I've given him the commit bit by adding him to the @cucumber/cucumber-ruby team.

Please say Hello to Jun everyone!

@junaruga please continue using PRs when:

1) you want feedback
2) you want other people to notice your chang

[2017-03-02 23:24] junaruga commented on #1089
@mattwynne ok! I am happy to join `cucumber-ruby` team.
I will keep in mind for the PR rules, and the code of conduct.

Hello guys!
I suppose that I can contribute mainly for fixing failed tests and improving development environment.

[2017-03-03 10:44] nodo commented on #1089
Welcome @junaruga !

[2017-03-03 19:03] iowyncrox opened #1090 "Cucumber::Cli::Main throws Exiting… Interrupt again to exit immediately when Ctrl + C on windows and hangs the CMD"
## Summary

I am running a rails app as a WAR file with JRuby 9000 and a jetty v9 server. When I am finished running the cucumber test via Cucumber::Cli::Main I try to Ctrl + C to cancel the server from running the WAR file. It shows Exiting... Interrupt again to exit immediately and hangs permanently. It freezes the command line from running any commands.

## Expected Behavior

On Ctrl + C the we

[2017-03-04 01:23] mattwynne commented on #1076
Can you give me a concrete example please?

[2017-03-06 05:17] vveliev commented on #1076
sure

So let's say I have  20 feature files, and my regression test include all this files in certain order.
How that should be done ?! Very long command line and then not really flexible from what I can see .

Now solution we have at this moment is based on the tempting where it generate final file combining scenarios in required order.

1. If there we ability to include files, or something simil

[2017-03-07 14:03] xuanzhaopeng commented on #984
Hi, do we have plan to include this feature in 3.0?

Thanks

[2017-03-07 16:18] vveliev commented on #1076
Another use will be some times depending what environment is being test, you may need different scenario outline data.

[2017-03-10 11:40] junaruga commented on #1089
@mattwynne I have a question.

I want to merge below PR by myself from the page. There is no merge button for me.
I do not have a authority to merge this?
https://github.com/cucumber/gherkin-ruby/pull/2
https://github.com/cucumber/aruba/pull/428

[2017-03-10 14:16] mattwynne commented on #1089
@junaruga I think I had set the team permissions up wrong (probably meaning this button was also missing for other recently added team members in @cucumber/cucumber-ruby (sorry folks).

Can you try again?

[2017-03-10 15:21] junaruga commented on #1089
@mattwynne okay.

In case of below PR, I can see the merge button.
https://github.com/cucumber/cucumber-ruby-wire/pull/8

But in case of above 2 PRs of  `cucumber/gherkin`, `cucumber/aruba`, I can not see the merge button yet.

[2017-03-10 17:50] mattwynne commented on #1089
Ok, try again now?

[2017-03-10 18:10] junaruga commented on #1089
@mattwynne `gherkin`, `aruba` => I can see the merge button.
But `multi_test` => I can not see it.

[2017-03-10 19:21] boblington opened #1091 "Output JSON inaccurate when Scenario and Background have same name"
## Summary

json output (`--output json`) produce incorrect data when Scenario name is the same as Background name. Granted good gherkin probably shouldn't have scenario and background share the same name, but the json data should still accurately reflect the actual structure of the gherkin.

## Expected Behavior
Given the following feature file
[code]
When `cucumber --format json`
Then json outpu

[2017-03-10 20:31] mattwynne commented on #1089
My bad. Try `multi_test` again?

[2017-03-10 20:49] junaruga commented on #1089
@mattwynne thanks I can see the merge button for `multi_test` now!

[2017-03-17 14:34] westlakem commented on #1028
@luke-hill . I'm not on the project but I submitted an issue to Jetbrains on this issue.  Jetbrains fixed the issue in RubyMine2017.1 (currently in ESR, but I've verified it is fixed)

[2017-03-17 14:59] luke-hill commented on #1028
Will close once cucumber 3 and 2017.1 is released

[2017-03-21 11:54] tansaku opened #1094 "progress style output for passing tests, but full output for those failing"
## Summary

Progress style output for passing tests, but full output for those failing

## Expected Behavior

I'd like to see full output for failing tests (steps and stack traces), but nothing (or just a green dot) for tests that pass.

## Current Behavior

On CI I often find myself wading through loads of green output of individual cucumber tests, when I want the full output only for those tests

[2017-03-21 12:35] mattwynne commented on #1094
Yeah I totally agree! We're doing some work on a new [event protocol](https://github.com/cucumber/cucumber/tree/master/event-protocol) that will mean we can write cross-platform formatters. I think that would be the time to build this kind of functionality.

[2017-03-23 00:27] botandrose opened #1096 "Diffing empty DataTables crashes with a nil error"
## Current Behavior

Opinions seem to vary on exactly how to construct an empty (0x0) DataTable, but in either case:

[code]

This ends up boiling down to `C::MA::DT#pad_and_match` calling `Array#transpose` on the internal 2d array, and both `[[]].transpose` and `[].transpose` both return `[]`, which causes the DataTable implementation to crash with a nil error, because its expecting a 2d array, b

[2017-03-23 01:01] botandrose commented on #1096
As an aside, it seems that Cucumber presently has a preference of `[[]]` as an empty table.

[code]

FWIW.

[2017-03-23 01:16] botandrose commented on #1096
Also, I think this last part shows that since Cucumber thinks
`DataTable.from([["A","B"],["1","2"],["3","4"]]).diff! [[]]` is a reasonable assertion, then therefore`DataTable.from([[]]).diff! [[]]` should be reasonable, as well.

Thoughts?

[2017-03-27 20:01] westlakem opened #1098 "Cucumber 3.0.0.pre1 - running before hooks multiple times"
## Summary

My Before hook runs twice after a failed scenario with the --retry flag

## Expected Behavior

The before hook should only run once

## Steps to recreate

Create a test suite with a "fail" in the step.  In the before hook, open a new Watir::Browser.  You will see that 2 browsers get opened after the first "fail")

[2017-03-29 17:44] danascheider commented on #1096
Thank you for the issue report and PR, @botandrose! I'm going to take a look at this after I get out of my current meeting but wanted to respond right away :)

[2017-03-29 20:22] danascheider commented on #1098
Thanks for reporting, @westlakem, I'll have a chance to look into this tomorrow. If you'd be interested in making a pull request we'd be happy to help you put something together - otherwise if we're able to repro we'll fix it but can't guarantee a timeline.

[2017-03-29 20:26] danascheider commented on #1091
@mattwynne @brasmusson @tooky Is this expected behavior or is this a bug?

[2017-03-29 20:27] danascheider commented on #1089
Welcome to the team @junaruga !

[2017-03-29 22:06] #1096 closed

[2017-03-30 05:47] brasmusson commented on #1098
The unit of execution in Cucumber is what is internally is called a _Test Case_, and it includes all hooks (before, after, after-step, and around hooks). The semantics of the `--retry` option, is that after the whole Test Case has executed (including after hooks), if it failed, the whole Test Case (including before hooks etc) is executed again. This is not an issue, it is the intended behavior.

[2017-03-30 13:01] westlakem commented on #1098
@brasmusson The problem is the --retry flag is running the hooks multiple times in the same test execution.  See example execution stack below.

Before hook runs
Test Runs and Fails
After hook runs
Before hook runs
Before hook runs
Test Runs and Fails
After hook runs
After hook runs
Before hook runs
Before hook runs
Before hook runs
Test Runs
After hook runs
After hook runs
After hook runs

[2017-03-30 17:09] brasmusson commented on #1098
@westlakem Oh, I misinterpret the issue description. We do not want that.

[2017-03-30 18:28] #1098 closed

[2017-03-31 14:17] wolffan commented on #1068
I still see this issue:

`nokogiri-1.7.1 requires ruby version >= 2.1.0, which is incompatible with the
current version, ruby 2.0.0p648`

[2017-03-31 16:54] rosskevin opened #1101 "fail in AfterStep leaves step successful but scenario failed"
## Summary

[code]

Results in all steps being indicated as passing.

[code]

I am trying to indicate a step has failed if I find javascript errors in the after step.  All steps are marked as `passed`, even though I should be able to fail the given step in the `AfterStep` hook.

## Expected Behavior
**When** I run a scenario
**If** I `fail` in an `AfterStep`
**Then** the step should be marked as `

[2017-04-03 16:23] danascheider commented on #1101
@brasmusson or @mattwynne is this considered expected behavior?

[2017-04-03 16:40] danascheider commented on #1076
@vveliev To tell you the truth, some of what you're describing sounds like an anti-pattern to me. I usually advise people that having too many data tables or out-of-control scenario outlines can be a sign you're operating at too low a level of abstraction in your steps. It sounds to me like you'd benefit from pulling some logic out of your steps and moving it into step definitions and helper modul

[2017-04-03 17:01] mattwynne commented on #1101
I can understand why it happens, but it does seem surprising. The problem is that the way we currently model it, the after-step hook is just another test step in sequence after the gherkin step it was "hooked" onto. So that original gherkin step has already run and passed.

I've been thinking for a while that it would help us to be able to model "nested" steps or sub-steps, as this would also help

[2017-04-03 17:13] danascheider commented on #1101
I like that idea, @mattwynne. I definitely think we could be more transparent about the source of failures coming from hooks, because I've had trouble before figuring out exactly what went wrong in cases like this.

[2017-04-03 19:37] brasmusson commented on #1101
I doubt that after-step hooks were introduced to do extra verification in addition to the verification in the step definitions, so from that perspective it is not expected behaviour that an failure in an after-step hook fails the step it is after-step hook for.

Comparing with scenarios and their before and after hooks, we consider both the results of each step definition and hook individually, an

[2017-04-04 05:56] vveliev commented on #1076
@danascheider Let's take "car" as example, now we need to write regression for "cars":
what do we have?!
-sport cars
-minivan's
-have track
-suv
-tractors
-specialty vehicles
- etc.

They  all have common things and also some special attributes.
now let's say I have 60 different types of cars ....I want a single regression to handle them all.

Now let's assume I have a scenario outline that does n

[2017-04-04 08:41] mattwynne commented on #1076
@vveliev I wonder if [suites](https://github.com/cucumber/cucumber-ruby/issues/821) might be the solution you're looking for?

[2017-04-25 12:17] sjieg opened #1108 "JSON formatter shows incorrect line number for steps in a Scenario Outline"
## Configuration
- Cucumber: 2.* (Confirmed issue on 2.4.0 & 2.0.0)
- Gherkin: 4.1.1

Issue __not__ present on Cucumber 1.3.20, that's why I assume it came with version 2.
_Upon further inspection, it seems the introduction of Cucumber Core caused this issue_

## Summary

The line numbers given to a step in the json formatter is always the line number of the Example row. Because of this, it's not

[2017-04-25 15:53] sjieg commented on #1108
I've looked into this issue a bit further and I think I have pinpointed the location of the issue.
In Cucumber Core /core/compiler.rb:133
[code]
Before this step `outlined_steps` contains the line number for every step.
After this step, all the line numbers are overwritten by the `to_step(row)` function.

I'll continue looking for a possible fix tomorrow. Until then, any feedback is welcome!

[2017-04-28 16:45] Githraine commented on #984
+1, we would really like to see this

[2017-04-28 19:50] mattwynne commented on #1076
Gherkin is not a programming language. It's designed for expressing human-readable acceptance test cases for feedback before and during development. It's not designed for regression testing. If you want complex test scripting, I would use a programming language.

[2017-04-28 19:53] mattwynne commented on #1076
Closing due to inactivity. I do appreciate your feedback @vveliev and if we can break down your ideas into some smaller pieces, perhaps we can discuss one or two of the most high-value ones in separate tickets. I'm finding it hard to help with this ticket as there seem to be so many ideas and problems floating around I don't know where to start ! 😀

[2017-04-28 19:53] #1076 closed

[2017-05-02 05:28] vveliev opened #1109 "Ability to include feature files with in cucumber feature."
## Summary

Ability to reuse common features in order to avoid code duplication.
This can partially be resolved using tags and multiple feature files in conjunction but it's very hard to keep things in order. Maybe it's not that bad to add ability to include feature files with in the feature. Or create new files extension for generating templates for specific test sets.

## Expected Behavior

 Opt

[2017-05-02 06:19] aslakhellesoy commented on #1109
If I understand correctly you want to test the same behaviour several times.

If you've tested it once, why do you need to test it again?

[2017-05-02 06:46] brasmusson commented on #1109
Adding `--tags '@basic or @positive'` to the command line (or `--tags @basic,@positive` when using Cucumber-Ruby versions not using tag-expression, for instance v2.4) will only run the scenarios with `@basic` or `@positive`. I do not see any duplication with this solution.

[2017-05-02 14:10] vveliev commented on #1109
@aslakhellesoy - sometimes you need product in one particular state and for that you will repeat behavior in order to test some functionality.  if you performing some tests on the user , you will create for every test case just to make sure you always have same state at the beginning.

@brasmusson - I think i did mentioned it

So yes I know about tags , but also you will need to write order of the

[2017-05-08 16:50] westlakem opened #1110 "Cucumber 2.4 - after_test_case scenario name being chopped off"
## Summary

Scenario name is chopped off in the `after_test_case(scenario, result)` formatter hook if the test fails.

## Expected Behavior

The expected behavior is that the `scenario.name` should be the same between a passing and a failing scenario.

## Current Behavior

The current behavior is the `scenario.name` is truncated.

## Steps to Reproduce (for bugs)

1. Create a scenario with the sce

[2017-05-09 15:08] garie commented on #1044
Any update? My team is also interested in this fix as a non-zero exit code causes our Bamboo build to fail.

[2017-05-11 15:26] vveliev opened #1112 "cucumber.yml Profile not working as expected"
## Summary

Trying to configure cucumber.yml to run specific files

## Expected Behavior

only specified files will be executed

## Current Behavior

ignoring files that are in the folders

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

Following files exist:
 features/bulk/bulk_registration.feature
 features/bulk/bulk_jobs.features
 features/bulk/bulk_accouns.features
 features/r

[2017-05-11 15:31] #1112 closed

[2017-05-11 19:50] bigtunacan commented on #1057
This sounds very similar to an issue we are having with the pretty formatter on a Rails 4.0.13 application.  The cucumber test suite is passing on our Rails 3.2.22.3 build with cucumber 1.3.17.

On our upgrade branch to Rails 4.0.13 the test suite seemingly fails at random with the pretty formatter and we see an error `stream closed (IOError)` where it appears that somehow the connection to `STDOU

[2017-05-11 21:09] westlakem commented on #1109
This just sounds like a bad idea... If you need to run specific tests (or feature files) for a smoke test, tag them with `@smoke` and run them with `--tags @smoke`

[2017-05-11 22:32] vveliev commented on #1109
@westlakem - any example to support your claim ?!

if it's just a smoke a can see your point, if you have 6-8 different profiles using 10-20 feature files having 6-8 tags just to run profiles + 2-10 tags for environment and test case specific tags things are gonna become messy ...

[2017-05-12 00:07] westlakem commented on #1109
I guess I don't understand your environment then.

[2017-05-12 00:19] westlakem commented on #1109
We have profiles or pass in env. Variables for each thing that can change.  Browser, environment, log failures, what state to run with, all configurable from command line.  Ex: cucumber -r features -p chrome -p staging -p log_failures, STATE=NY.

why is it a bad idea? Because if someone did what you were recommending and someone ran all features in the features directory, you could run into an inf

[2017-05-12 11:52] vveliev commented on #1109
@westlakem , I see your point.

but if someone will decide to run all feature files , they may as well get stuck for a day of so .... just due to the amount of test's.  So to me this is something to consider on implementation level. where you can put restrictions on how deep nesting is allowed.

at this moment I'm still trying alternative options.

[2017-05-12 13:11] westlakem commented on #1109
I still question the amount of testing you're doing with Cucumber.  I'm
still of the opinion (again not knowing your enviornment) that you're
relying too much on Browser based testing and not enough on unit testing.

On Fri, May 12, 2017 at 7:52 AM, vveliev <notifications@github.com> wrote:

[2017-05-16 08:46] sjieg commented on #1108
A fix has been committed to the cucumber-ruby-core project: https://github.com/cucumber/cucumber-ruby-core/pull/129 and the issue will be handled there: https://github.com/cucumber/cucumber-ruby-core/issues/128

[2017-05-18 17:24] jenn-t commented on #1047
Hi! Just curious if there has been any progress made on this? Updating the retry flag to just retry failed tests would be fantastic for one of my projects (as we already do that in a hacky way). This would be much cleaner.

Thanks!

[2017-05-24 12:30] enkessler opened #1113 "Ambiguous steps ruin reporting"
## Summary

When ambiguous steps are encountered, Cucumber essentially crashes. No reports are generated and no other tests executed. It just dies.

## Expected Behavior

All tests should be run and output generated as normal. Some tests might fail/be skipped/have undefined steps, etc. but they will at least get executed.

## Current Behavior

As soon as an ambiguous step is encountered, Cucumber

[2017-05-25 16:33] mattwynne commented on #1113
Thanks for reporting @enkessler. Do you have time to add a scenario into our acceptance tests that reproduces this? That would be the first step to fixing it.

[2017-05-25 17:03] enkessler commented on #1113
@mattwynne I'm a little short on time but I'll try. I've got some other projects to maintain and I'm trying to get them all ready for when I show up to CukenFest.

[2017-05-26 15:22] vveliev commented on #1109
Ok so another support point:

I have 10 feature files. Some feature files have requirements.
If i run them all everything works just perfect. However some feature expecting product to be in certain state. I think it's would be beneficial to have step where I validate state, if not then have ability to run other feature files with tags , to meet the requirements and avoid duplication code.

[2017-05-27 08:37] brasmusson commented on #1113
Cucumber-JS as ["ambiguous"](https://github.com/cucumber/cucumber-js/blob/master/features/ambiguous_step.feature#L33-L34) as a separate result type, which neither Cucumber-Ruby nor Cucumber-JVM have.

[2017-05-27 13:18] enkessler commented on #1113
Step 1. Shamelessly steal from Cucumber-JS.
Step 2. Get it working in Ruby
Step 3. Profit.

:)

[2017-05-28 15:56] enkessler commented on #1113
Step 0: Make the build work on Windows.

:(

[2017-05-28 21:44] mattwynne commented on #1113
Can you raise a separate ticket about that?

[2017-05-29 01:40] enkessler opened #1115 "No Windows/OSX builds"
## Summary

The project only has CI builds against Linux. The project may not build cleanly for other common platforms (e.g. Windows and OSX) and it would not be noticed until someone tried to develop on those platforms.

## Expected Behavior

The project would build on Linux, OSX, and Windows as part of its normal CI process.

## Current Behavior

The project only builds against Linux.

## Possib

[2017-05-29 01:52] enkessler commented on #1113
#1115 opened. Links to the failing builds are included. Mind you, I don't necessarily know how to get them working any more than I know how to make ambiguous steps work. But, you know, I'm trying to do my part by keeping you lot informed. ;)

[2017-05-30 21:51] westlakem commented on #1109
@vveliev IF you have a TEST that requires a product to be in a certain state, then **that test** should (in a before hook) put the product in that state, and then change it back at the end of the test (in an after hook).  The #1 and #2 rule for testing is `*Make each test orthogonal (i.e., independent) to all the others
*Any given behaviour should be specified in one and only one test. `

You shou

[2017-05-31 19:00] rasubh opened #1117 "Cucumber Rerun is not working on windows platform"
We have tried to Rerun the failed tests on windows with the following command. It failed to execute the tests.
**bundle exec cucumber @rerun.txt**

**Output**-
Using the default profile...
0 scenarios
0 steps
0m0.000s

Can you please fix this issue or please suggest if there are any alternate command to execute the same. Thanks much in advance.

[2017-06-05 12:36] junaruga commented on #1089
Thanks guys. I would close this ticket, as the time has been passed.

[2017-06-05 12:36] #1089 closed

[2017-06-05 12:46] junaruga opened #1118 "When will we bump version 3.0.0?"
## Summary

Hello,
When will we release version 3.0.0?
Do you have tasks to fix before the release?

## Context & Motivation

Current `cucumber` latest stable version is 2.4.0 that uses `cucumber-core` `~> 1.5.0`.
We also released cucumber pre version `3.0.0.pre.1` that uses `cucumber-core` latest version 2.0.0 (`~> 2.0`) at September 02, 2016.

Then 6 months has been passed.
Now I want to use `cu

[2017-06-05 14:04] mattwynne commented on #1118
Wow, I didn't realise it had been that long!

I had been hoping for the [event protocol](https://github.com/cucumber/cucumber/pull/172) to stabilise before we released, because I don't want us to have to introduce breaking changes again later, but I think that's an unrealistic expectation.

I do want us to write a blog post announcing the release and explaining the new events API, and I would like

[2017-06-05 14:32] brasmusson commented on #1118
Several of us is coming to [Cukenfest](https://cukenfest.cucumber.io/), so it seems premature to release before that, but we should come out from there with only a very short list of things to do before releasing 3.0.0.

Things I wish to be on such a short list would be https://github.com/cucumber/cucumber-ruby/issues/1044, and since I believe that the exit code should be based on the summary - I

[2017-06-05 22:32] garside commented on #1044
Just ran into the `--retry` flag and the non-zero exit code for circleci. Just hoping to get a pulse check on the status of this retry-success feature that @streetlogics proofed.

@mattwynne, Is there an ETA for it and/or is there anything we could do to help push this across the finish line?

[2017-06-06 11:30] brasmusson commented on #1044
Yes, in non-strict mode the exit code should be 0 is all scenarios passes on retry, but in strict mode (option `--strict`) the exit code should not be 0 is any scenarios were retried.

I think a that first the summary should  be updated with a new flaky category (as in `6 Scenarios (1 Passed, 1 Failed, 1 Undefined, 1 Pending, 1 Skipped, 1 Flaky)`), then it is straight forward to implement the exit

[2017-06-07 17:45] danascheider commented on #988
@mattwynne @brasmusson @tooky What do you think about this suggestion? Shouldn't be hard to implement but I'm not sure if it's what we want to do.

[2017-06-07 19:59] danascheider commented on #1118
Totally agree with everything @brasmusson said.

[2017-06-07 23:22] danascheider commented on #984
@xuanzhaopeng This is not slated for the 3.0 release. We may add it at a later time, but it will happen a lot sooner if you, @Githraine, or @sharmarahul are able to help us out with it. If you are, please let us know and we can point you in the right direction as far as implementation.

[2017-06-08 21:56] rasubh commented on #1117
Hey guys,
I am having hard time to get this working on windows platform. Does anyone has idea how to overcome with this problem?

Please let me know in case if you need more details.

Thanks,
Rahul

[2017-06-09 12:45] junaruga commented on #1118
Okay, @brasmusson the Cukenfest is June 21st - 25th. So maybe you want to release cucumber 3.0.0 during the event term, right?

I saw your guys' face photos in the event page. It is in London. It's close from my living country Czech Republic. :) Though I won't attend the event, I hope the event's success. 😄

[2017-06-10 13:24] roschaefer opened #1120 "v3.0.0.pre.1: stepdefs formatter crashes with undefined method step_definition for nil:NilClass"
Following @brasmusson suggestions in #953:

[code]

[code]

[2017-06-10 13:53] brasmusson commented on #1120
The likely cause of this is #1041, do when it is fixed this will be fixed.

[2017-06-16 14:29] suryasri13 opened #1122 "Too many open files - getcwd (Errno::EMFILE)"
I'm trying to post something to the api and verifying if the values are posted correctly in the DB.

In this process, when I'm trying to verify values in the db I get "Too many open files - getcwd (Errno::EMFILE)" error.

I use faraday gem to post a request and mysql2 gem to check the db values.

The complete  backtrace of the error is as below

Too many open files - getcwd (Errno::EMFILE)
/Users/

[2017-06-16 16:44] suryasri13 commented on #1122
ulimit -n 1024 has resolved the issue.

[2017-06-16 16:44] #1122 closed

[2017-06-21 18:29] tlrdstd opened #1123 "Getting total number of steps/test cases before suite is run"
## Summary

I am a long-time user of the [fuubar-cucumber](https://github.com/martinciu/fuubar-cucumber) formatter. It breaks under Cucumber 2.4.0+.

Specifically, https://github.com/martinciu/fuubar-cucumber/blob/master/lib/cucumber/formatter/fuubar.rb#L28 calls `features.step_count`. But https://github.com/cucumber/cucumber-ruby/blob/master/lib/cucumber/formatter/legacy_api/adapter.rb#L77 passes

[2017-06-22 07:49] mattwynne commented on #1123
Hi Tyler, thanks for volunteering to help sort this out.

You're right that the design in Cucumber 2+ streams test cases straight out of the compiler and never assembled them into a list to count them first.

Although there was some design elegance to this, it's impractical. We were already buffering up the test cases for certain run configurations, like [randomized runs](https://github.com/cucumb

[2017-06-24 12:20] tooky opened #1127 "Add @enkessler to the cucumber-ruby contributor team"
Summary

Add @enkessler to the cucumber-ruby contributor team

Detail

Eric has been doing some great work to help Cucumber work on Windows, and so I've given him the commit bit by adding him to the @cucumber/cucumber-ruby team.

Please say Hello to Eric everyone!

@enkessler please continue using PRs when:

you want feedback
you want other people to notice your changes
In the case of (2) feel fre

[2017-06-24 15:47] danascheider commented on #1127
Welcome to the team @enkessler!

[2017-06-24 18:58] mattwynne commented on #84
Closing due to inactivity

[2017-06-24 18:58] #84 closed

[2017-06-24 19:03] danascheider commented on #424
Closing due to inactivity.

[2017-06-24 19:03] #424 closed

[2017-06-24 19:06] danascheider commented on #480
Closing due to inactivity. If you find this issue in newer versions of Cucumber please reopen.

[2017-06-24 19:06] #480 closed

[2017-06-24 19:10] brasmusson commented on #1041
Fixed by https://github.com/cucumber/cucumber-ruby-core/pull/136.

[2017-06-24 19:10] #1041 closed

[2017-06-24 21:05] mattwynne commented on #485
@MikeWeller I'm closing this due to inactivity, but please ping us if it's still important to you.

[2017-06-24 21:05] #485 closed

[2017-06-25 18:50] junaruga commented on #1127
Welcome, @enkessler !

[2017-06-25 20:28] olleolleolle commented on #1127
It's awesome that you're here!

[2017-06-25 20:34] enkessler commented on #1127
Thanks everyone! It's good to be here. :)

[2017-06-26 14:05] #1115 closed

[2017-06-26 14:38] enkessler commented on #916
@mattwynne @aslakhellesoy PR #1116 has added a Windows build to the CI process. There is some remaining work in getting that build green, however.

All specs pass but there are still [failing features](https://ci.appveyor.com/project/enkessler/cucumber-ruby-u5iqh/build/1.0.1/job/1euuunkgnb6h2i7a).

[2017-06-26 15:10] enkessler commented on #1117
@rasubh I just gave it a go on my machine (which is Windows with Cucumber 2.4.0) and it appears to be working fine.

Are you sure that you aren't filtering out those tests for some other reason?

[2017-06-26 16:13] brasmusson commented on #916
It looks that some (all?) of the failing features would be fixed if Cucumber-Ruby also on Windows understood that `/` in the feature path argument means the path separator. Luckily for Cucumber-JVM, Java on Windows understands that, therefore Cucumber-JVM always output the `uri` with `/` as the path separator and it works on all platforms (for instance uri's with `/` in the `rerun.txt` file).

[2017-06-26 20:42] rasubh commented on #1117
Thanks for your reply @enkessler, Really appreciate. As far as I know we are not doing any kind of filtering. I just wanted to make sure that the gems we are using are the same as yours(we are using cucumber 2.4.0), But I wanted to see any other dependent gems are causing this issue. Could you please send me the gem list and gem env details? so that I can compare with mine. Thanks much in advance.

[2017-06-28 18:39] rasubh commented on #1117
@enkessler Here is the information on my environment:
Windows Version: Windows 8.1 Enterprise
Cucumber Version: 2.4.0
Ruby Version: 2.3.3
Cucumber CLI: --no-source --color --format pretty --format rerun --out rerun.txt

When test fails the rerun text file is created. When I try to run with the rerun.txt (P.S. Original post)
No test runs

[2017-06-28 19:02] rasubh commented on #1117
@enkessler   We just tried another experiment.  Before running we copied rerun.txt to r1.txt.  Then we ran `bundle exec cucumber @r1.txt` and it worked.  I think you may have a race condition that is causing the test to clear out rerun.txt before it is reading the contents to run the tests.  Again, when using another file name it works.

[2017-06-29 01:41] enkessler commented on #1117
Were you attempting to both read the rerun file and write the new failed results to it in the same run?

Something like `cucumber @rerun.txt -f rerun -o rerun.txt` ?

[2017-06-29 12:57] mattwynne opened #1137 "Emulate Cucumber-JS's new i18n CLI options"
## Summary

This should be quite a straightforward change for a newcomer.

See https://github.com/cucumber/cucumber-js/pull/864

## Expected Behavior

Let's keep things consistent and use the same CLI options as described in https://github.com/cucumber/cucumber-js/blob/7ae990812cf2b583213b871981f9610ca4e5556e/features/i18n.feature

We'd end up with the existing `--i18n` option being removed, and r

[2017-06-29 13:42] mattwynne commented on #1127
@enkessler please close this ticket once you're happy you have everything you need.

[2017-06-30 11:29] KyleFairns opened #1139 "Steps within Modules - Using World to include the right steps (Cross Platform)"
## Summary

I'm attempting to write a library of step definitions for a project that I'm working on that has Web, iOS and Android applications. They all have the same features included, the implementation however, is not the same.

At the moment, we've managed to survive on `if`/`unless` statements to state which type of app we are testing on at that time through a configuration file, however, the

[2017-06-30 11:35] mattwynne commented on #1094
See https://github.com/cucumber/cucumber-js/pull/866

[2017-06-30 14:27] mattwynne commented on #839
Charlie Rudolph has just dropped the pretty formatter from cucumber-js altogether, and just just pretty-printing failures.

As much fun as it is writing pretty formatters, I think we should give serious consideration to doing the same, and giving ourselves a clean slate for these.

[2017-06-30 18:25] mattwynne commented on #1139
Hi Kyle,

Briefly, what I generally do in this situation is to create a layer of indirection at the Ruby level, by mixing in different modules to the World depending on the platform I want to run against. So something like this:

[code]

If you'd prefer to keep the indirection at the level of steps, you should be able to do that by keeping the sets of step defs in separate folders, and using the `

[2017-06-30 18:39] enkessler commented on #1139
Having multiple step definitions and dynamically loading the correct set (using `-r` or otherwise) works well enough as long as you don't need to use both within the same runtime.

I had a project that had a handful of different applications in its ecosystem and some of these applications had multiple 'skins' but essentially the same functionality so we likewise did not want to duplicate feature f

[2017-07-03 20:00] #1137 closed

[2017-07-03 20:39] mattwynne commented on #1127
Happy @enkessler? Can we close this?

[2017-07-03 21:19] mattwynne opened #1144 "test"

[2017-07-03 21:19] #1144 closed

[2017-07-03 21:23] mattwynne opened #1145 "Invite aidamanna to become a collaborator"
## Summary

@aidamanna has provided a valuable contribution to Cucumber - thanks! 🎉 We'd like you to become a collaborator.

## Expected Behavior:

- [ ] Commit to set a good example by following and upholding our [code of conduct](https://cucumber.io/conduct) in your interactions with other collaborators and users. 💚
- [ ] Join the [community Slack channel](http://cucumber.io/support#slack) to me

[2017-07-03 23:56] enkessler commented on #916
@brasmusson Wouldn't that mean that we only use path separators in 1 in 3 of our tests? Additionally, several of those path errors go away when that command is invoked via backticks instead of through Aruba. Shouldn't the path error still be there if it were a Ruby on Windows problem?

[2017-07-10 14:46] #1127 closed

[2017-07-12 23:25] kapoorlakshya opened #1155 "Is there a way to print nested steps to console?"
## Summary

Is there a way to print nested steps to the console in the current version of Cucumber? Or can this be achieved through a custom formatter? Right now, it only prints the wrapper steps. This could be useful to see in reports for end-to-ends tests that perform multiple small actions under wrapper step.

## Step Definition

[code]

## Current Output:

`I log in as 'TestUser' and access th

[2017-07-13 09:34] brasmusson commented on #1155
Please use the [support](https://cucumber.io/support) forums for questions and discussions. We use GitHub issues to track bugs and contributions exclusively.

[2017-07-13 09:34] #1155 closed

[2017-07-13 19:19] kapoorlakshya commented on #1155
Will do, thanks!

[2017-07-16 07:07] #1044 closed

[2017-07-17 21:15] streetlogics opened #1160 "Cucumber --retry option status 1 with strict mode causes --retry option to not be useful"
@brasmusson - re:
https://github.com/cucumber/cucumber-ruby-core/pull/141 Tying this to `--strict` mode is overloading what `--strict` mode means and how developers are going to want to use the `--retry` option.

Personally speaking I am trying to tie this in with CI because I don't want to have to rebuild 30+ minutes of feature files for 1 scenario that happened to randomly fail.  The only way I

[2017-07-18 06:09] brasmusson commented on #1160
Note, there is an ongoing diskussion if undefined steps always should give non-zero exit code https://github.com/cucumber/cucumber-js/issues/867.

--retry and --strict is for The people that don't want to allow flickering scenarios, but still want to distinguish flickering from true failures, useful information when the scenario skall be fixed.

[2017-07-18 20:10] brasmusson commented on #1160
As of #1158, the reson(s) why the exit code is not zero is listed in the console, the scenarios listed under "Failing scenarios" etc, are exactly the scenarios that (each) made the exit code non-zero.

[2017-07-19 01:27] garside commented on #1160
@brasmusson do you have a rough estimate of when this behavior will make it out to the ruby gem?

[2017-07-19 02:18] streetlogics commented on #1160
A "flaky" scenario isn't necessarily going to be fixed.  Most often a scenario needs to be repeated because there was a driver issue with Capybara trying to communicate with the browser.  I've seen this in practice many times, especially with very large test suites.  The point of `--retry` (and the legacy "rerun profile" feature) is that I *know* a few tests will occasionally fail because of timin

[2017-07-19 19:37] brasmusson commented on #1160
I find hard to believe that there is not even one shop in the whole world with the attitude "flickering scenarios should be identified, analyzed, and fixed" - I am well aware that not all shops have that attitude.

In my mind has the --strict option

[2017-07-19 19:39] brasmusson commented on #1160
Sorry, on vacation - has only smartphone available

[2017-07-19 20:07] brasmusson commented on #1160
In my mind has the meaning of the --strict option not changed, it has always had the meaning "be strict about the the result types that either can be handled strict or not so strict". Yes, the list of those result types has been extended, but that is natural as a product is evolved.

Every time a new result type is introduced, it has to be decided in which of the categories "always fails the build

[2017-07-20 14:01] aslakhellesoy opened #1162 "Rerun formatter should use newlines"
For consistency with other implementations, the `rerun` formatter should use newlines. See https://github.com/cucumber/cucumber/issues/233 for context.

[2017-07-20 14:05] aslakhellesoy opened #1163 "Support VS Code CLI as an alternative to ANSICON."
_From @seraku24 on December 24, 2016 8:9_

## Summary

VS Code directly supports ANSI control sequences.  However, `cucumber` only looks for the presence of ANSICON, which means no color output for VS Code users.

## Possible Solution

Within `ansicolor.rb`, simply add an additional check for the presence of VS Code:
[code]

I have tested the above change with my local copy of the gem, and I am ab

[2017-07-24 08:28] brasmusson commented on #1162
The parsing of the rerun file already handles newlines in the rerun file, see https://github.com/cucumber/cucumber-ruby/blob/master/spec/cucumber/cli/rerun_spec.rb#L35-L43

[2017-07-24 08:32] #1162 closed

[2017-07-25 06:21] maxmeyer opened #1165 "Deprecation of `#step` method will cause a lot of trouble for aruba's users"
## Summary

Hey @danascheider @mattwynne,

on Cukenfest it was announced, that the `#step` method will be deprecated or is already deprecated. As a lot of aruba's consumers are using this kind of pattern to reference our steps, this is problematic and will cause some effort to fix.

Example:
https://github.com/mroth/lolcommits/blob/master/features/step_definitions/lolcommits_steps.rb (project has

[2017-07-25 13:14] aslakhellesoy commented on #1165
The purpose of a deprecation warning is to make people aware that an API is going away in a future release so they have a chance to update code before that happens.

When users of `lolcommits` see those warnings, then the person that loves the project the most will update `lolcommits` to no longer use the deprecated API. If nobody does it, then nobody loves it enough that anyone cares.

I don't th

[2017-07-25 13:45] brasmusson opened #1166 "Rename the events to use past tense"
Use `xStarted` not `xStarting` etc. (from the [cukenspace workshop](https://cucumberbdd.slack.com/archives/C5B8A9Q3H/p1498313949091649))

[2017-07-25 13:48] brasmusson opened #1167 "Make the TC count event optional"
It is not a good idea to always stop all test cases in a filter before passing them on, because maybe a formatter that is interested in the test case count is used (from the [cukenspace workshop](https://cucumberbdd.slack.com/archives/C5B8A9Q3H/p1498313949091649)), see also https://github.com/cucumber/cucumber-ruby/pull/1082#issuecomment-310316166

[2017-07-26 09:04] tooky commented on #1165
I think it's also worth pointing out that our intention is to extract the `#step(s)` to a gem as the first step to deprecating it. So even if we remove it from Cucumber, it will still be possible for people to choose to use it.

[2017-07-26 19:22] mathieujobin commented on #1165
I also love the '#step' method. Will it be replaced by something functionally equivalent?

[2017-07-26 19:53] maxmeyer commented on #1165
@tooky Thanks Steve. Good to know that, but I think it will be worth to clean up our step definitions. Unfortunately not in the near future.

[2017-08-02 13:09] #1166 closed

[2017-08-02 14:04] #1113 closed

[2017-08-06 19:13] #1160 closed

[2017-08-17 20:54] maxmeyer opened #1181 "Gather metrics per scenario to identify long running scenarios"
## Summary

Ordered Output runtime of scenarios (Slowest first)

## Expected Behavior

[code]

## Current Behavior

There's a formatter to output the usage of steps. This outputs information per step, but not per scenario. Thanks @aslakhellesoy for the tip, but unfortunately I was not able to gather the metrics I need to identify long running scenarios.

## Possible Solution

Add a formatter which

[2017-08-17 21:38] aslakhellesoy commented on #1181
This would be very useful. This shouldn't be added to Cucumber-Ruby though. It should be a standalone command line tool (written in any language) that can slurp Cucumber events (https://docs.cucumber.io/event-protocol/) and make the report you want. It would be usable from any Cucumber implementation.

[2017-08-17 22:02] mattwynne commented on #1181
I should also say, this is high on my priority list for test results features in Cucumber Pro.

[2017-08-18 17:11] djwgit commented on #1043
run into the similar problem, one workaround is to put the base class file or included rb file in folders to have them in right order with folder name, say
*  **_base** folder has _screen_base.rb_
* **screen** folder has _screen1.rb, screen2.rb_  (all are sub class of screen_base)

this way, classes in _base folder are loaded first, then other folders.
it works, but... kind of...

[2017-08-22 14:09] aslakhellesoy opened #1182 "scripts/update-history generates bad links"
2 problems:

* The Markdown is wrong (missing `]`)
* The URL to the issue is wrong (points to API)

Both the script and the `History.md` needs updating.

/cc @mattwynne @jaysonesmith

[2017-08-22 15:36] muggenhor opened #1183 "Wire protocol broke backwards compatibility for docstrings"
## Summary

Starting from no later than cucumber 2.0 backwards compatibility of the wireprotocol got broken for passing docstrings.

Given this step definition (cucumber-cpp):
[code]

and this feature:
[code]

## Expected Behavior

I expect the step definition to be called and passed the doc string. This requires this bit of JSON to fly across the wire (the `id` field is an example):

[code]

## C

[2017-08-22 20:52] mattwynne commented on #1182
Gah! That'll teach me to write untested code late at night while on whisky

[2017-08-22 20:54] jaysonesmith commented on #1182
Hah! GG @mattwynne :p It should be easy enough to fix for now until the [bash version](https://github.com/cucumber/cucumber/issues/255) comes out.

[2017-08-29 15:32] aslakhellesoy opened #1188 "Cannot save changes to profiles in cucumber.yml"
_From @NahidSiddiqui on August 29, 2017 15:17_

Cannot save changes to profiles in cucumber.yml

## Summary
I have saved my cucumber.yml file in config directory which lies in the project directory of my calabash tests. I was previously able to save changes and run the profiles, but this is no longer possible. I cannot create new profiles in cucumber.yml and execute them in command line.

My cucum

[2017-08-30 12:56] luke-hill opened #1189 "Gherkin capturing incorrectly in Step Definitions"
## Summary

See Example and Expected Behaviour - Self Explanatory

## Expected Behavior
Expected value of `input` should be `5th`

Should capture a local variable `input`. It should *not* do any cleansing as we are not using a Transform* (Note we have a bug raised for this as well)

## Current Behavior
Actual value of input is `5`

## Steps to Reproduce (for bugs)

Feature Code:
[code]

Step Def C

[2017-08-30 15:23] aslakhellesoy commented on #1189
This surprises me. Are you saying the actual value of `input` is the `Integer` `5`?

Are you *sure* you don't have a transform hidden somewhere that does the transformation?

What's the other bug you've raised?

[2017-08-30 19:57] aslakhellesoy commented on #1189
In an empty directory I created 2 files:

[code]

[code]

Cucumber passes:

[code]

Sorry, can't reproduce what you're describing.

[2017-08-30 19:57] #1189 closed

[2017-08-31 07:13] luke-hill commented on #1189
I'll completely wipe my transforms folder

Other issue is this: https://github.com/cucumber/cucumber-ruby/issues/1055

[2017-08-31 07:20] luke-hill commented on #1189
For reference, my transforms folder contains three transforms, it's likely the SUFFIXED_NUMBER is being used here, but again without my express wishes for it to be used.

[code]

[2017-08-31 08:48] JeanMertz opened #1190 "3.0.0.pre.2 - ParameterType to replace Transform for domains"
We have the following transform:

[code]

I tried rewriting it to a parameter type, while keeping the same functionality:

[code]

But it seems like the transformer is never triggered, and instead the original domain is visited. What am I doing wrong here?

[2017-08-31 09:31] aslakhellesoy commented on #1189
When Cucumber 3 is released you'll have [Cucumber Expressions](https://cucumber.io/blog/2017/07/26/announcing-cucumber-expressions), which also replace `Transform` and handle it in a better way.

[2017-08-31 09:32] JeanMertz commented on #1190
Alright, turns out the name has to be used in a cucumber expression, or (I guess?) it can match the regex defined in the step.

It does seem like this is not backward compatible, as the above Transform was not working with our step, which looked something like this:

[code]

With this, and the original Transform (which, as I can see in the code, converts it to a ParameterType), made the transforma

[2017-08-31 09:46] JeanMertz opened #1191 "3.0.0.pre.2 - regexp no longer matching correct amount of capture groups"
This step definition:

[code]

worked in Cucumber pre 3.0. In the latest 3.0 release, it returns:

[code]

Even though there are clearly three capture groups (does it trip up because of the nested capture?)

[2017-08-31 15:05] alb-i986 opened #1192 "Junit Formatter not working with 'puts' and 'Cucumber.logger': <system-out> section is empty"
The feature introduced in 847848f4c283a77d390ae99ca589a18c549429cd (see also #258) does not seem to work with `puts`, but it does with `print`.

Given a feature file like this:
[code]

And a step definition like this:
[code]

When I run `cucumber --format junit --out out`
Then the JUnit report should contain "something" inside the CDATA section of `<system-out>`

But actually it's empty:

[code]

[2017-08-31 15:24] alb-i986 commented on #1192
Also not working with `Cucumber.logger`.

More formally:
Given a step definition like this:
[code]

[2017-09-04 22:49] mattwynne commented on #1191
@JeanMertz did you *want* to capture three groups, or are you just noting a change in behaviour?

cc @aslakhellesoy - FYI it looks like the introduction of #1156 might not be fully backward compatible - is that a likely analysis do you think?

[2017-09-04 22:52] mattwynne commented on #1190
So @JeanMertz are you saying that when you upgraded, the existing Transform code stopped working (before you added the ParameterType?)

[2017-09-04 22:56] mattwynne commented on #1189
@aslakhellesoy do you think we should deprecate `Transform` at the same time as we release expressions with 3.0?

[2017-09-04 22:59] mattwynne commented on #1055
@luke-hill unless I've missed something, I think your example has the same regexp patterns for both `CAPTURE_INT` and `CAPTURE_NUM` transforms, am I right? In this instance, would it be better for Cucumber to throw an error saying that multiple transforms matched?

[2017-09-04 23:01] mattwynne commented on #1055
@luke-hill have you had a chance to try the new https://cucumber.io/blog/2017/07/26/announcing-cucumber-expressions feature in the latest 3.0.0.pre.2 release?

[2017-09-05 06:17] JeanMertz commented on #1190
@mattwynne that is correct

[2017-09-05 06:20] JeanMertz commented on #1191
@mattwynne correct, I want to capture three groups. We solved this for now by splitting up the one step into two, so we don't need the nested regex anymore.

[2017-09-05 08:16] luke-hill commented on #1189
It would seem likely, as there is a lot of unwanted / buggy behaviour with it (This issue is technically a bug, but it's a bug with Transforms, not with regex)

[2017-09-05 08:18] luke-hill commented on #1055
Hi Matt. I'll definitely give it a whirl (You released the 3.0.0.pre1 for us to try the retry formatter.

Honest question. Why is there an issue (Or what is happening under the hood). That makes cucumber not *force* itself to use the expression I type. In my eyes it's a bit misleading. Below is the kind of analogy (Albeit comical I face)

Me to cucumber: I want cucumber to use transform A
Cucumber

[2017-09-05 08:41] aslakhellesoy commented on #1191
Looks like a regression. I'll look into this one.

[2017-09-06 04:45] jaysonesmith commented on #1101
I'm on board with @brasmusson 's thoughts here about verification in the after step. I would consider the after to be used for things like cleanup if needed.

[2017-09-06 05:28] jaysonesmith commented on #1182
@mattwynne You fixed this in master, yeah?

[2017-09-06 05:33] jaysonesmith commented on #1188
@NahidSiddiqui, could you share what version of the gem you're using, please?

[2017-09-06 05:37] jaysonesmith commented on #1188
Also, was your position of the @ sign a typo? If not, I'm curious if you move it to the word regression if that resolves what you're running into?

`full_ios_test: --@tags regression`

[2017-09-06 10:17] NahidSiddiqui commented on #1188
@ jaysonesmith Hi thanks for your response. Version of my gem is 2.4.6. Yes, sorry that was a typo I did when posting the issue. I did use the correct one as full_ios_test: --tags @regression.

[2017-09-06 22:34] mattwynne commented on #1182
I did, in 25b33b0e8c6e39099bb1a9e76986fef07bd4dded

[2017-09-06 22:35] mattwynne commented on #1182
Oh wait, actually I didn't fix the URL to the issue thing.

[2017-09-06 22:41] mattwynne commented on #1182
links fixed in eed8b2d3e0d77dedc2dd8269b2b53b402bdd4d65

[2017-09-06 23:29] olleolleolle commented on #1182
The only remaining thing is to get History.md in line with those two changes.

[2017-09-06 23:53] jaysonesmith commented on #1182
History.md is no more @olleolleolle ! :p Are you referring to adding the changes that @mattwynne made to the update script as needing to be added to the changelog or something different?

[2017-09-07 00:07] olleolleolle commented on #1182
@jaysonesmith The Description field mentioned the History.md as a last step; so, I guess, in order to take this to _done_ as defined in there, the changelog needs to avoid the issues, as well.

[2017-09-07 00:40] jaysonesmith commented on #1182
@olleolleolle Ah, I get what you mean. Pretty sure I nabbed things. I'd like to also update usernames to point to git profiles, but perhaps that'll be something for another day.

[2017-09-12 15:53] shyamkumarj opened #1195 "Need help to write pending scenarios in rerun file"
Hi,
The earlier versions of cucumber used to write both failure and pending scenarios in to rerun file but not anymore. Our tests mostly rely on the test data (program information) that changes every 30 mins and we have a shell script in place to rerun both failure and pending scenarios twice, which would eventually pass in the second or third attempt. Since, the rerun file is not writing any pend

[2017-09-12 17:24] brasmusson commented on #1195
The scenarios written to the rerun file are the scenarios that each would make the exit code non-zero. `Failed` scenarios are alway changing the exit code to non-zero, that they are therefore always entered in the rerun file. `Pending`, `Undefined`, and `Flaky` scenarios are changing the exit code to non-zero depending on the `--strict` setting, which means that the `--strict` setting also control

[2017-09-12 17:24] #1195 closed

[2017-09-12 18:48] shyamkumarj commented on #1195
Thank you for your help. I really appreciate it!

[2017-09-14 17:32] #1182 closed

[2017-09-15 15:57] mattwynne opened #1198 "Document Cucumber-Expressions in a feature file"
## Summary

The new [cucumber expressions](https://cucumber.io/blog/2017/07/26/announcing-cucumber-expressions) feature being released with 3.0 doesn't have much in the way of documentation in our own [living documentation](https://app.cucumber.pro/projects/cucumber-ruby).

## Expected Behavior

Users of Cucumber need to be guided in how to use Cucumber expressions when reading our living document

[2017-09-15 19:29] Ben-Behar opened #1199 "DataTable#symbolic_hashes followed by DataTable#hashes produces undefined method: 'tr'"
## Summary

When using a gherkin step with a DataTable, if in my step definition I use `table.symbolic_hashes` and then later use `table.hashes`, then I am presented with the error `undefined method 'tr' for :my_key:Symbol`.

## Expected Behavior

I should be able to access my table as a list of symbolic hashes as needed without changing any of the state of the DataTable.  After this, I should be

[2017-09-15 20:05] danascheider commented on #1199
Thanks for reporting, @Ben-Behar! Is this something you'd be able to put together a pull request for? If so, we'd be happy to help you figure out the best implementation, etc.

[2017-09-16 16:09] Ben-Behar commented on #1199
Sure, I'll give it a shot.  I will definitely need some hand holding though.

[2017-09-16 19:02] aslakhellesoy commented on #1191
Ok, this is a backwards-incompatible for sure, but it's by design. Only top level capture groups are counted.

This is a consequence of parameter type transforms being able to handle capture groups. I'll try to explain with a couple of examples.

Both Cucumber Expressions and Regular Expressions are now managed by the `cucumber-expressions` library. One of the things this library lets you do is to

[2017-09-16 19:02] #1191 closed

[2017-09-16 20:54] aslakhellesoy commented on #1190
It will work if you change your step definition from:

[code]

to:

[code]

The regexp inside the capture group must be *identical* to the regexp in the `Transform`.

I realise most people probably don't have this, so you're right - the new (deprecated( `Transform` implementation isn't 100% backwards compatible. We probably *could* make it 100% backwards compatible, but I have a feeling it might b

[2017-09-17 20:14] aslakhellesoy commented on #1198
It's far from complete, but there is a feature file: https://github.com/cucumber/cucumber-ruby/blob/master/features/docs/writing_support_code/parameter_types.feature

[2017-09-17 20:34] aslakhellesoy commented on #1198
For more detailed documentation, there is https://docs.cucumber.io/cucumber-expressions/ which we'll port over to the new docs project. Let's keep the documentation quantuplication to a minimum.

[2017-09-19 15:49] aslakhellesoy commented on #1190
My proposal is to *remove* `Transform` completely since we cannot easily preserve backwards compatibility.

Let me know what you think.

[2017-09-19 16:24] mattwynne commented on #1190
We could do a quick 2.5 (or 2.4.1 or 2.99?) release that deprecates Transform to warn people, then remove it in 3.0

As you say @aslakhellesoy a nice blog post explaining how to migrate would be useful too.

[2017-09-19 16:25] mattwynne commented on #1190
I'd imagine there will be a fair few people with them tucked away in their `support` directories so we want to be as kind to them as possible.

[2017-09-19 18:05] danascheider commented on #1190
Yeah I like the idea of adding a deprecation warning to a v2.x release and then axing it from version 3. I think one of the best aspects of 3.x is that we're going in a more opinionated direction and I have no problem making this part of that.

[2017-09-19 18:22] JeanMertz commented on #1190
If a deprecation warning is added before a 3.0 release, I’m sure that will help most people tackle this. Add to that an extra warning in the release notes and blog post, and I’m sure most will be fine.

It is a 3.0 release after all, so some backward incompatible changes are to be expected 👍

[2017-09-19 19:19] aslakhellesoy commented on #1190
Deprecation warnings should provide guidelines about what to do to get rid of the warning. As long as we don't provide an alternative I think a deprecation warning would just be annoying as there is no way to get rid of it.

I think the best option is to write that blog post, and point people to that from the 3.0.0 release notes.

[2017-09-21 08:58] aslakhellesoy commented on #1190
So here is the plan:

1. I'll publish my blog post [Upgrading to Cucumber 3.0.0](https://github.com/cucumber/website/pull/249)
2. I'll remove support for `Transform` on the `master` branch. No deprecation, but the `CHANGELOG` will point to that blog post.
3. Someone makes a 3.0.0 release
4. @matt publishes his blog post [Cucumber 3.0.0 Release Announcement](https://github.com/cucumber/website/pull

[2017-09-21 09:05] mattwynne commented on #1190
@aslakhellesoy I think we could do a step 2.5 where we issue a deprecation warning for Transforms in a 2.99 release with a link to your blog post. That seems like it would be the kindest thing to do for our users. I can do that after your blog post is live.

[2017-09-21 09:06] mattwynne commented on #1190
Otherwise, I'm 👍 👍 🌮  for this plan

[2017-09-21 09:10] aslakhellesoy commented on #1190
If we do what you say, people who install Cucumber-Ruby 2.5 will see a deprecation warning for all their `Transform`.

They'll find that annoying and look for a way to get rid of the deprecation warnings, only to discover there is no way to get rid of them while staying on 2.5. That's not helping anyone.

[2017-09-21 18:08] #1199 closed

[2017-09-27 18:40] mattwynne commented on #1190
@JeanMertz OK If I close this issue since we seem to have reached a decision not to fix it?

[2017-09-27 18:40] #1190 closed

[2017-09-28 05:53] aslakhellesoy commented on #1002
Fixed in 3.0.0

[2017-09-28 05:53] #1002 closed

[2017-10-02 01:08] bojingo commented on #1050
After banging our heads on the wall for a couple days, I came across this issue to explain why we weren't getting this --retry flag working. We am having the same issues, except we tried it with versions 3.0.0 and I just now also tried with 3.0.1 with no luck.

For convenience, we pretty much exclusively use profiles so this is highly frustrating.

[2017-10-02 11:27] artemave opened #1206 "Steps with parenthesis aren't matched"
## Summary

Steps with parenthesis aren't matched against step definitions.

Here is my setup:

[code]
And a step definition

[code]

## Expected Behavior

All green.

## Current Behavior

Step does not match the definition

![image](https://user-images.githubusercontent.com/23721/31075267-9a17900c-a76c-11e7-8311-d9d102042d45.png)

If I remove parens from both step and the definition then it works

[2017-10-02 11:31] clergyman commented on #1028
Hi everyone, I have the same problem with cucumber 3.0.0 + TeamCity 2017.1.4 (in fact, the problem erase starting from cucumber update, the TeamCity version is not important)
cucumber script exits after executing background for scenario with the following record in the log:
uninitialized constant Cucumber::Ast (NameError)
[code]
Looks like a problem on team city side, everything works like charm w

[2017-10-02 16:23] jroger2908 commented on #1050
I unfortunately am having the same problem. I can do the retry from the command line but the exact same syntax will not trigger a retry from a profile. Anyone find what the issue is?

[2017-10-02 16:40] brasmusson commented on #1206
Parenthesis has special meaning in Cucumber Expression, AFAIK there is currently no way to escape them, see https://github.com/cucumber/cucumber/issues/107. When using regular expression to define the step definitions it should be possible to escape the parenthesis's, at least with the unreleased fix in https://github.com/cucumber/cucumber/pull/254.

[2017-10-02 16:46] artemave commented on #1206
Oh, I see. Makes sense. Thanks!

[2017-10-02 16:46] #1206 closed

[2017-10-02 17:14] #1050 closed

[2017-10-02 17:46] westlakem commented on #1028
@clergyman yes, that is the same issue that I pointed at that is fixed in RubyMine 2017.1+

[2017-10-04 12:30] mkrei opened #1207 "Broken rerun format because of newline"
## Summary

Recent change of the output of rerun feature seems to break the feature by producing a content in the output file, which can not be read in again.
This is probably related to commit 488ea4dba8742d5bad26d71f90df5f32f4ed9654

Up until recently (probably before ) the workflow of running a cucumber suite with `-f rerun --out rerun.txt` followed by cucumber @rerun.txt to run failed tests ag

[2017-10-04 19:13] #1207 closed

[2017-10-04 19:17] brasmusson commented on #1207
Yes, the rerun feature was broken. The rerun formatter shall separate feature file entries with newline (see #1162), unfortunately 488ea4d made the rerun formatter instead print `'\n'` literately instead of newlines.

[2017-10-05 05:56] mulmi commented on #1207
I am sorry, could you please also tell us if and when this issue was fixed?

[2017-10-05 06:33] tooky commented on #1192
Hi, @alb-i986, thanks for reporting this.

Would you be able to document the behaviour you expect with a breaking acceptance test, please?

The JUnit formatter feature file is here: https://github.com/cucumber/cucumber-ruby/blob/master/features/docs/formatters/junit_formatter.feature

Cucumber treats `puts` in a special way inside step definitions, and I wonder if this is related to that. There's

[2017-10-05 06:36] tooky commented on #1207
@brasmusson I think we should do a patch release for this fix? I'm happy to do it later today or tomorrow?

[2017-10-07 19:04] brasmusson commented on #1118
v3.0.0 and v3.0.1 are out.

[2017-10-07 19:04] #1118 closed

[2017-10-07 19:06] brasmusson commented on #1120
#1041 is fixed so this should work v3.0.0

[2017-10-07 19:06] #1120 closed

[2017-10-09 07:06] akostadinov opened #1209 "catch all transformation functionality"
Hello, as of #1203 the `Transform` was removed. We heavily use a catch all transformation which also transforms table cells. At present it seems transforming cells is not supported in any way.

Can we have a catch all transformation method in 3.0 (all non-empty parameters and table cells)? At present I don't see us able to upgrade to 3.0 ever if we can't do catch-all transformations.

[2017-10-09 11:07] aslakhellesoy commented on #1209
I'm not aware that `Transform` would transform table cells in data tables or Scenario Outline/Example tables.

If you provide a [miminal example](https://stackoverflow.com/help/mcve) in a git repo that uses this old feature I'll do my best to show how to do the same with `ParameterType`. -Or suggest a change to Cucumber to make the transition easier.

[2017-10-09 12:04] akostadinov commented on #1209
I was talking about table cells of steps:
[code]

I can craft a small example a little later but thought to clarify what I mean first. Thanks for reply.

[2017-10-10 17:13] bojingo commented on #1050
I haven't seen an update to the gem beyond 3.0.1 yet. Any ETA for releasing a version that includes this fix?

[2017-10-11 09:36] aslakhellesoy opened #1214 "Add back Coveralls"
I removed Coveralls in 99cf97c52e6e139b14a5270ccf007891bd03444c as part of removing Travis in favour of CircleCI because it wasn't quick and obvious to me how to enable it for CircleCI (the authentication part).

If someone feels strongly about adding it back please send a pull request.

[2017-10-11 09:49] aslakhellesoy opened #1215 "Fix Windows build"
It's currently failing: https://ci.appveyor.com/project/cucumberbdd/cucumber-ruby

[2017-10-11 09:50] aslakhellesoy commented on #916
We have an Appveyor build, it just isn't passing. Closing this in favour of #1215 which has a more specific acceptance criterion (make the build pass)

[2017-10-11 09:50] #916 closed

[2017-10-12 12:44] akostadinov commented on #1209
Sorry for delay, I created a minimal cucumber project that hopefully demonstrates one important use case we have [1].

I think that any method that allows us to just process all parameters (strings or tables) would do the job. So if you know any way to catch all params, we can replace our usage of `Transform` with it.

[1] https://github.com/akostadinov/testcucumber_transform/blob/master/features/

[2017-10-13 13:47] eheinen commented on #1209
I have the same issue in my features, but it is pretty simple, like:
`
      | attribute          | value |
      | min_accepted | 60      |
`
When I have a table with a title combination like **attribute** and **value**, then my transform get this combination by Regex and format it according my code bellow:

`
Transform /^table:attribute,value$/ do |table|
   table.map_headers! { |header| header.

[2017-10-13 13:49] aslakhellesoy commented on #1209
Please make it easy for us to investigate this by providing a [minimal example](https://stackoverflow.com/help/mcve) in a git repo. I won't try to cobble together an example by copy-pasting code from comments.

[2017-10-13 13:54] akostadinov commented on #1209
@aslakhellesoy , in my previous comment I provided such a git repo. I'm not sure whether your comment was a reply to @eheinen or you missed or didn't like my example repo.

[2017-10-13 13:57] eheinen commented on #1209
It was for me I guess, don't worries. I am creating the example now

[2017-10-13 14:03] aslakhellesoy commented on #1209
@akostadinov sorry I missed it! Thanks a lot - will have a look.

[2017-10-13 14:17] eheinen commented on #1209
@aslakhellesoy I published my example. It is running:
https://github.com/eheinen/minimal-example-cucumber-3-table-format/blob/master/features/minimal.feature
If you think something is missing, just let me know please.
Thanks

[2017-10-13 14:26] aslakhellesoy commented on #1209
Thanks - much appreciated. I see it was added in f0e85dcfe41800c1f8a14f74cc928e21c244c364 (version 0.4.0) 8 years ago :-) I never used that feature myself.

I'm afraid the new `ParameterType` doesn't support that (yet), but we do have plans for it. See https://github.com/cucumber/cucumber/issues/210.

[2017-10-13 21:34] akostadinov commented on #1209
What I see in cucumber/cucumber#210 is the idea to transform table based on headers (unless I'm missing something).

This is not actually useful for many use cases. Can we just have a "catch-all" transformer in the event one wants a more customized solution. For our use case transforming into objects is done on a case by case basis depending on the step. For this we use different methods in a cust

[2017-10-20 12:04] enkessler opened #1219 "Background data tables can be corrupted"
## Summary

Data tables from steps in a `Background` appear to leak data into each other across tests and modifying them in one test can impact later tests. This seems bad.

## Expected Behavior

Fresh data table object would be provided for each test, similar to how we get a fresh World object for each test. These tables wold be completely independent of each other.

## Current Behavior

While ea

[2017-10-29 07:26] pjapkar opened #1229 "rb_support folder is removed from ruby 3.0.0 release onwards. It was there in beta"
My dependent gems are failing which look for require 'cucumber/rb_support/rb_language'

[2017-10-29 07:46] aslakhellesoy commented on #1229
What are those gems?

[2017-10-29 07:47] pjapkar commented on #1229
cucumber_priority

[2017-10-30 15:10] mattwynne commented on #1229
This one? https://github.com/makandra/cucumber_priority

Interesting use-case! It's like more configurable version of [guess mode](https://app.cucumber.pro/projects/cucumber-ruby/documents/branch/master/features/docs/defining_steps/ambiguous_steps.feature#scenario-ambiguous-steps-with-guess-mode).

I'm afraid depending on internal bits of Cucumber like that one is going to be brittle. For the time

[2017-11-06 07:09] Richard-Cao opened #1231 "Embed image error"
When I embed image, image id is the same in html.
![image](https://user-images.githubusercontent.com/5953992/32428719-d750da6a-c28c-11e7-8051-6ffdd926a7ea.png)

https://github.com/cucumber/cucumber-ruby/blob/master/lib/cucumber/formatter/html.rb#L45

https://github.com/cucumber/cucumber-ruby/blob/master/lib/cucumber/formatter/html.rb#L399

I think `next_id` function maybe incorrect.

[2017-11-06 08:05] Richard-Cao commented on #1231
cucumber ruby version > 3.0 will report this error, 2.99.0 is correct.

[2017-11-06 11:27] brasmusson commented on #1231
Fixed by https://github.com/cucumber/cucumber-ruby/pull/1216, the fix is not released yet but it is available on the master branch.

[2017-11-06 11:27] #1231 closed

[2017-11-07 10:34] Richard-Cao commented on #1231
👍

[2017-11-08 10:23] luke-hill commented on #1055
Hi Matt, been reading up on this, and the new parameter types won't fix this issue. As it's doing a fuzzymatch based off the regex which was the issue I mentioned on the 5th Sep.

Thoughts going forwards? Is this something likely to be fixed?

[2017-11-08 11:01] p0deje commented on #1043
It's still pending and should not be closed.

[2017-11-08 11:08] akostadinov commented on #988
bump

[2017-11-08 12:22] rosskevin commented on #1101
I think there is value in not closing this due to staleness, but if it is deemed not worth fixing, I guess I'll let it go.

[2017-11-08 13:33] Githraine commented on #984
What would it take to add this in?

[2017-11-08 13:36] NahidSiddiqui commented on #1188
Please close this issue

[2017-11-08 14:06] jaysonesmith commented on #1188
@nahid, is this still an issue you're facing?

[2017-11-08 14:38] NahidSiddiqui commented on #1188
No, I found the problem. It was a coding error on my side sorry. It has nothing to do with the cucumber ruby framework in this instance.

[2017-11-08 15:55] mattwynne commented on #984
@Githraine somebody needs to focus in on it and implement it! It looks like it's not a priority for anyone on the contributor team, but we'd be happy to support and coach someone who wanted to do the work. Are you interested?

[2017-11-08 16:02] mattwynne commented on #1055
@aslakhellesoy is probably the best person to help you @luke-hill. I don't have a good handle on the parameter types / transforms stuff at the moment.

[2017-11-08 16:10] rosskevin commented on #1101
I'm not interested in the effort.  If you view it as enhancement and not a bug, let's close it out.  Please label as an `enhancement` in case this gets resurrected/found later.

[2017-11-08 16:15] Githraine commented on #984
I have not done that before, but I think it would be useful.  Sure, I'll give it a shot.

[2017-11-08 16:35] jaysonesmith commented on #1188
Hey, good to hear! Thank you for providing more info, I'll go ahead and close this out. :)

[2017-11-08 16:35] #1188 closed

[2017-11-09 13:51] muggenhor commented on #1183
The issue still exists, I don't have the ruby chops to fix it, but it's still relevant.

[2017-11-13 03:33] rasubh commented on #1117
Looks like we did the same in cucumber profile, may be that is the reason it's creating this issue.

[2017-11-13 03:33] #1117 closed

[2017-11-13 15:35] westlakem commented on #1110
Anyone looking into this?

[2017-11-13 15:47] luke-hill commented on #1028
@aslakhellesoy (As I have tagged Matt a lot recently). What's the plans for this going forwards. Now 3.0.0 is out and a legit release. I have the latest RubyMine.

I'm aware this software isn't in your remit. But is there any way of prodding them? The solution is a hacky open `.rb` file as Admin and change lines of code

[2017-11-13 15:51] #1028 closed

[2017-11-13 15:51] luke-hill commented on #1047
This needs some thought after running Cucumber 3. I'll wait til next year and give it a whizz. And re-open something more appropriate if needs be.

[2017-11-13 15:52] #1047 closed

[2017-11-14 12:27] Lec1k opened #1232 "Ignore case flag not working in new ParameterType regexp"
## Summary

Ignore case flag not working in new ParameterType regexp parameter.
example:
[code]
Will work for:
[code]
But not for:
[code]

## Your Environment

* Version used: 3.0.2
* Operating System and version: ubuntu 16.04
* Ruby:  2.4.2

[2017-11-15 10:36] #1109 closed

[2017-11-15 10:36] #1123 closed

[2017-11-15 10:36] #1094 closed

[2017-11-15 10:36] #1139 closed

[2017-11-15 10:36] #1145 closed

[2017-11-15 10:36] #1163 closed

[2017-11-15 10:36] #1165 closed

[2017-11-15 10:36] #1181 closed

[2017-11-15 10:36] #401 closed

[2017-11-15 11:36] #622 closed

[2017-11-15 11:36] #892 closed

[2017-11-15 11:36] #986 closed

[2017-11-15 11:36] #995 closed

[2017-11-15 11:36] #1006 closed

[2017-11-15 11:36] #1010 closed

[2017-11-15 11:36] #1016 closed

[2017-11-15 11:36] #821 closed

[2017-11-15 11:36] #1031 closed

[2017-11-15 11:36] #1046 closed

[2017-11-15 11:36] #935 closed

[2017-11-15 11:36] #930 closed

[2017-11-15 11:36] #1053 closed

[2017-11-15 11:36] #1062 closed

[2017-11-15 11:36] #1063 closed

[2017-11-15 11:36] #1064 closed

[2017-11-15 11:36] #1030 closed

[2017-11-15 11:36] #1072 closed

[2017-11-15 11:36] #775 closed

[2017-11-15 11:36] #1066 closed

[2017-11-15 11:37] #1090 closed

[2017-11-15 11:37] #1091 closed

[2017-11-15 11:37] #1057 closed

[2017-11-15 12:36] #572 closed

[2017-11-15 12:36] #611 closed

[2017-11-15 12:36] #912 closed

[2017-11-15 12:36] #683 closed

[2017-11-15 12:36] #908 closed

[2017-11-15 12:36] #934 closed

[2017-11-15 12:36] #951 closed

[2017-11-15 12:36] #947 closed

[2017-11-15 12:36] #924 closed

[2017-11-15 12:36] #938 closed

[2017-11-16 15:59] luke-hill opened #1234 "Cucumber Expressions Ruby - 1line fix"
I've not managed to get the repo cloned yet in my spare time, however I'll try contribute where possible.

Here is a nice 1line tidy bugfix.

Change
https://github.com/cucumber/cucumber-expressions-ruby/blob/master/lib/cucumber/cucumber_expressions/parameter_type.rb#L41

to
[code]

`$` syntax from java leakover I imagine.

[2017-11-16 16:07] olleolleolle commented on #1234
@luke-hill There's cool pen icon you can use on GitHub, which forks-and-edits a file.

[2017-11-16 16:09] enkessler commented on #1234
Now it just needs a test. :)

[2017-11-16 16:41] luke-hill commented on #1234
I plan on contributing here and to selenium as and when I get around to setting up machine after having completed my ruby training (Last month), I can now start OS contributions

[2017-11-16 16:46] luke-hill opened #1235 "Cucucumber Expressions Ruby: ParameterType creation issue"
Auto-parameters `use_for_snippets` and `prefer_for_regexp_match` cannot be redefined when instantiating new `ParameterType` Object in RubyMine

## Summary

When instantiating the following object
[code]

The bottom two parameters are passed through as `nil` objects. Which then fail the instantiation checks.
Creating the object without these parameters works fine.

## Expected Behavior

The bottom

[2017-11-19 18:47] bv commented on #1021
@jaysonesmith, you are assigned to this issue currently. Do you have any commits to pull-request? I was about to get back to fixing the violations. We could synchronize and push changes to a single branch and then create PR.
What do you think?

[2017-11-19 19:02] bv commented on #1215
@aslakhellesoy, do you believe there is still anything to be fixed?
Currently

- the  #916 is closed
- am able to `bundle exec rake` on Windows with no issues
- No failures here https://ci.appveyor.com/project/cucumberbdd/cucumber-ruby/build/1.0.492

Thanks.

[2017-11-19 19:10] jaysonesmith commented on #1021
Hey @br, I don't currently have anything in the works other than what's open right now. I'm mobile right now also, so I can't look as easily.

Go ahead and start wherever makes sense. :)

[2017-11-19 20:42] jaysonesmith commented on #1021
@br Unfortunately I can't work on getting things merged today, are you fine with going based off of what's in this ticket?

[2017-11-19 22:52] bv commented on #1021
Yes, @jaysonesmith I will be able to continue, just wanted to make sure we can avoid fixing same violations.
P.S. I believe "Bleacher Report", you are tagging in the comments, should get surprised :)

[2017-11-19 23:16] jaysonesmith commented on #1021
@bv I had trouble with that earlier too but for some reason, my brain was so set on br! Sorry! I'll fix and totally understand the worry about duplicate work. Thanks for helping out!

[2017-11-21 19:50] brasmusson commented on #1215
There are 97 scenarios in the feature files in the `features` directory with the tag `@todo-windows`, which I think means that the scenario is not executed on Windows.

[2017-11-21 20:42] bv commented on #1215
thank you Björn, now I got the idea, and can reproduce failing 77 scenarios out of 97.

[2017-11-22 14:34] luke-hill opened #1237 "Cucumber Expressions: Runtime infinite hang when invalid match with ParameterType"
## Summary

When running the following minimal code section RubyMine / command line hangs, and needs killing

## Expected Behavior

Test runs and fails due to it not matching anything

## Current Behavior
Test hangs

## Steps to Reproduce (for bugs)

`test.feature` -Ignore the name, thats something for later should the parser work

[code]

`test_steps.rb`
[code]

`support/test.rb`
[code]

## Conte

[2017-11-22 15:39] luke-hill commented on #1055
The majority of use cases for this are remedied by using Transforms. I'll be opening some more granular cases going forward. Which may/may not be a priority.

I'll close this in favour of that.

[2017-11-22 15:39] #1055 closed

[2017-11-22 15:53] fakeleft commented on #500
The correct related issue is [259](https://github.com/cucumber-attic/gherkin/issues/259), not 257.

[2017-11-23 08:09] luke-hill opened #1238 "Cucumber Expressions - Alternation doesn't play nicely with numbers."
## Summary

Nice and short. ParameterTypes don't like alternation `/` with numerals.

## Expected Behavior

If I want the option between 2 non capturing groups. Lets say Alpha1 and Beta2 I would write.

`Given('Alpha1/Beta2')` - Sadly this isn't liked.

## Current Behavior

Basically the entire system just infinite hangs. It can't compute. If I create 2 distinct steps.
`Given('Alpha1')`
`Given('Be

[2017-11-24 09:51] aslakhellesoy commented on #1238
This issue was moved to cucumber/cucumber#303

[2017-11-24 09:51] #1238 closed

[2017-11-28 10:22] aslakhellesoy commented on #1234
This issue was moved to cucumber/cucumber#306

[2017-11-28 10:22] #1234 closed

[2017-11-28 10:24] aslakhellesoy commented on #1237
This issue was moved to cucumber/cucumber#307

[2017-11-28 10:24] #1237 closed

[2017-11-28 10:29] aslakhellesoy commented on #1235
Can you try with cucumber-ruby 3.1.0 and change the `ParameterType` to:

[code]

Is this still an issue?

[2017-11-28 10:34] luke-hill commented on #1235
On cucumber `3.0.2`
- The instantiation issue is non-existent when *not* passing in `snippets/prefer for match`.
- The instantiation crashes when not providing a `transformer`
- The instantiation works when not providing Object `type`
Will test `3.1.0` before Friday

[2017-11-28 10:55] aslakhellesoy commented on #1232
This issue was moved to cucumber/cucumber#308

[2017-11-28 10:55] #1232 closed

[2017-11-28 15:12] luke-hill commented on #1235
This is fixed in Cucumber Expressions `5.0.4`

[2017-11-28 15:12] #1235 closed

[2017-11-28 19:48] lastobelus commented on #1120
Yesterday's release is still exhibiting this problem:

[code]

[code]

[2017-12-05 10:51] aslakhellesoy opened #1239 "Snippet generation throws an error"
@jonjagger found a bug in snippet generation during a training:
http://cyber-dojo.cucumber.io/review/show/AA5C4F80AD?avatar=squid&was_tag=17&now_tag=17

The error went away by changing the step text

[2017-12-06 19:15] aslakhellesoy commented on #1239
Also: http://cyber-dojo.cucumber.io/kata/edit/178FA4990E?avatar=gopher

[2017-12-06 21:43] sebrose commented on #1239
Does the error only occur on Cyber-Dojo?

[2017-12-06 21:53] aslakhellesoy commented on #1239
I haven't tried outside cyber-dojo yet. I have no reason to believe it's cyber-dojo specific - probably a general bug.

[2017-12-07 11:53] sebrose commented on #1239
The `cucumber` invocation in `cyber-dojo.sh` included this parameter `-I .`

Removing it fixed the error. Not sure why we were ever specifying the location of snippets - or how it ever worked.

[2017-12-07 19:21] aslakhellesoy commented on #1239
Not sure why that would affect the snippet generation logic but thanks for the pointer!

[2017-12-07 20:03] summittracker commented on #1207
Was this fixed in a new version of cucumber?

[2017-12-07 20:06] aslakhellesoy commented on #1207
@summittracker yes: https://github.com/cucumber/cucumber-ruby/blob/master/CHANGELOG.md#302-2017-11-11

[2017-12-11 07:59] #1192 closed

[2017-12-12 10:14] fschwahn opened #1240 "Error when html formatter tries to render error"
## Summary

When `Cucumber::Formatter::Html` tries to render an error where `snippet_for` goes to the `else`-branch (line 581)
https://github.com/cucumber/cucumber-ruby/blob/84bc859a62220290383a0a8c80ebf6820a426b4c/lib/cucumber/formatter/html.rb#L575-L583

it returns a frozen string (because of `frozen_string_literal: true`). When the syntax gem is not installed, modifying the frozen string in the

[2017-12-12 17:42] aslakhellesoy commented on #1198
Different Cucumber implementations don’t currently share feature files.
Documenting this consistently in each implementation is a lot of work. I’d
prefer documenting it once and for all.

That’s what the new docs.cucumber.io site aims to do. We have
infrastructure in place for sharing docs across implementations.

Documenting Cucumber with Cucumber is a great goal, but before we can do
that in a s

[2017-12-12 18:04] enkessler commented on #1198
features for all implementations

Why wouldn't we want to have shared features for all implementations?

[2017-12-12 20:22] brasmusson commented on #1198
IIRC the last project for shared features (https://github.com/cucumber-attic/cucumber-tck) was abandoned because if was to hard to maintain.

[2017-12-12 22:06] aslakhellesoy commented on #1198
I didn't say we don't want to have them. I'm just saying doing it in practice is challenging:

* In what repo would they live?
* If they live in a separate repo, how are they versioned alongside the multiple implementations?
* How do we deal with the fact that Cucumber implementations are currently slightly inconsistent in several areas
* Making them cross platform means we can't put code in docst

[2017-12-12 22:41] akostadinov commented on #1209
Not sure the intention of this aggressive bug closing. If I'm waiting on project owners feedback am I supposed to just bump the topic?

[2017-12-13 00:23] mattwynne commented on #1198
I've thought about this quite a bit. Several of Cucumber's users have encountered and solved similar problems. To your excellent points @aslakhellesoy:

I think the monorepo would be the perfect place

Don't know, that seems like an interesting puzzle!

I think that surfacing this inconsistency (and the areas where we do have consistency) would be really helpful for the project. When I've seen oth

[2017-12-13 15:30] aslakhellesoy commented on #1209
The frequency of new issues being created is significantly higher that the frequency of existing issues being fixed.

The reason for this is simple - only a handful of people contribute on a regular basis (without getting paid for it) while the vast majority of users (over 99%) just use the software and file issues without contributing.

Over the years, this led to a steady increase of open issues

[2017-12-13 15:32] aslakhellesoy commented on #1209
Yes, you are. This sends us a signal that you still care about this.

[2017-12-15 05:30] guruprasadsr opened #1241 "Cucumber is running the background in an inappropriate way"
Cucumber is running the background in an inappropriate way

Information:
I have a background at the beginning of the tests that I have written for my iOS app. I use calabash cucumber to test the iOS app. When I have a background, I have observed that it is invoked at the beginning of the feature execution. Sometimes, it is also called when I run a scenario and my tests start to fail.

Configuratio

[2017-12-15 10:06] Tr4pSt3R commented on #1209
@aslakhellesoy I appreciate you for all your good work on the Cucumber estate.

[2017-12-15 18:05] brasmusson commented on #1241
The background is executed as part of every scenario of the feature file (and not only once for the feature file), see https://github.com/cucumber/cucumber/tree/master/gherkin#pickles.

[2017-12-15 18:05] #1241 closed

[2017-12-15 19:48] akostadinov commented on #1209
wrt improving situation - I don't think there is a silver bullet and arguments go both ways (about closing inactive bugs). IMO a better triage process will help. e.g. depending on bug type an inactivity close may or may not make so much sense. I understand though that proper triaging is hardly achievable even in commercial organizations. So we are back to square one :)

Personally my biggest hurdl

[2017-12-17 09:58] #1214 closed

[2017-12-18 03:19] rlgomes commented on #1120
FYI to those hitting this I've run into the issue and finally identified that its because you have undefined steps... ie you if you run `cucumber --dry-run your_feature_directory` you'll see the indication of which steps are missing that lead to the `cucumber --format stepdefs` blowing up. That said stepdefs could handle this more gracefully but that was the issue I was running into and once I fix

[2017-12-19 13:24] enkessler commented on #1219
Why, yes, I do still care.

[2017-12-19 13:26] aslakhellesoy commented on #1219
I think the underlying problem here is that the data table *isn't immutable*, but it should be. Trying to modify it should raise an error.

[2017-12-19 17:18] brasmusson commented on #1219
In #760 we settled (after a discussion) to pass fresh but mutable objects as step arguments. The [data table object](https://github.com/cucumber/cucumber-ruby/blob/master/lib/cucumber/multiline_argument/data_table.rb#L29) is not a simple object in Cucumber-Ruby, to me it seems this issue is caused by that a to shallow copy is made somewhere...

[2017-12-19 17:29] enkessler commented on #1219
If we had to implement a recursive deep clone ourselves then it might be tricky. But can't we use the same `Marshal.load( Marshal.dump( foo ) )` as was used in #760 , in order to do a deep clone of the data table?

[2017-12-20 18:32] aslakhellesoy commented on #1219
I wasn't involved in the discussion in #760. We can change the decision made there, and I think we should.

Immutability is generally a good thing IMO, I don't see any benefits with mutable objects in this case.

[2017-12-21 11:39] brasmusson commented on #1219
The only thing about changing to immutable objects is that since they are mutable today - it becomes a breaking change. Anyway I don't mind changing to immutable object (as long as we are consistent about them).

[2017-12-21 14:28] mattwynne commented on #1219
I would like them to be immutable. I have a vague recollection that this isn't trivial because some of the methods on the `DataTable` mutate state. That class is an absolute beast.

[2017-12-21 16:09] enkessler commented on #1219
@mattwynne It could be done in stages? First we could could do the deep clone fix for the bug and later (when we are ready to deal with refactoring a beastly class) we could remove mutability altogether?

[2017-12-29 06:14] rlgomes opened #1242 "dynamic steps do not trigger AfterStep hook"
## Summary

When running dynamic steps using the `step` or `steps` function the AfterStep hook isn't called for those dynamic steps.

## Expected Behavior

It would be great if the AfterStep hook fired even for dynamic steps as I'm using that hook to capture screenshots/logs that make debugging failed tests easier.

## Current Behavior

AfterStep hook not called for dynamic steps.

## Possible Sol

[2018-01-05 15:50] #1229 closed

[2018-01-07 16:13] akostadinov commented on #988
bump, this needs project owners decision, not hard to implement

[2018-01-07 18:36] brasmusson commented on #1108
I reopen this issue because issues with the Json Formatter, which indeed is part of this project, should be raised here and not in the cucumber-ruby-core project.

[2018-01-08 05:43] p0deje commented on #1043
Fun-fighting the bot.

[2018-01-09 16:51] jaysonesmith commented on #1021
Once my remaining PRs are merged I'm going to update our Rubocop version and also regenerate the todo yaml to bring us up to date.

[2018-01-09 20:46] Githraine commented on #1209
I dont know if this is related, but I am having a lot of issues with Scenario Outlines, and have need no mention of them in any of the docs for this update.  Has anyone seen them work under 3.0?

[2018-01-09 22:39] rlgomes commented on #1242
figured out the right way to invoke sub steps https://github.com/cucumber/cucumber-ruby/blob/47811a0c136284b696cc685cc4ee24a26adb296f/lib/cucumber/runtime/support_code.rb#L64

[2018-01-09 22:39] #1242 closed

[2018-01-10 07:27] Lupeipei commented on #1026
@mattwynne I have used  test_step_finished event. Now I can capture page screenshot of every step even the step is failed, it is so cool! Thanks a lot.

[2018-01-10 23:34] mattwynne commented on #1026
👍 nice one @Lupeipei!

[2018-01-14 16:48] #1101 closed

[2018-01-15 06:54] p0deje commented on #1043
Argh, the bot, why are you so ignorant?

[2018-01-16 15:13] Githraine opened #1245 "Issue with 3.0.0, "Failed describing child of " messages. - Change from ~@Tag to 'not @Tag' needs better error handling"
## Summary
After updating Cuke to 3.0 I started having 2 issues.  Initially I got the deprecation  warning about tags switching from ~@ notation to 'not @' notation.  When I update my files to reflect that, I start getting  "Failed describing child of " messages with hard failures.

## Steps to Reproduce (for bugs)

https://github.com/Githraine/FWK_for_Cuke_error

[2018-01-16 17:34] brasmusson commented on #1245
You have to use ` "  --tags 'not @XX'  " `. This is not a cucumber specific thing, it is standard shell behavior (see [mailing list post](https://groups.google.com/d/msg/cukes/oAjwMG9Gqyg/fpjTsYRPAgAJ)). When I change to ` " --tags 'not @XX'  " ` in `cucumber.yml` I get the same behavior as with `ALT_cucumber.yml`

[2018-01-16 19:18] Githraine commented on #1245
Can you be a little more explicit?  What is missing from my cuke file?  And if you get the same behavior as the ATL cuke file, do you mean it runs without the warnings?
Thanks!

[2018-01-16 20:23] brasmusson commented on #1245
Does not work:
[code]
Does work:
[code]
(and so for the other lines with `"not @XX"` in `cucumber.yml`)

The warnings "`Deprecated: Found tags option '~@nyi' ...`" do not occur with the modified `cucumber.yml`

[2018-01-17 18:57] Githraine commented on #1245
The quotes.  Got it, thanks!!!  I will get to try to upgrade again before Friday.

[2018-01-17 21:28] Githraine commented on #1245
That worked.  Is there any way to get better error messages when this simple formatting issue occurs?

[2018-01-17 21:59] jaysonesmith commented on #1021
I've only got two more to get merged and then will be able to under take updating Rubocop and regenerating our todo file! 👍

[2018-01-18 10:06] brasmusson commented on #1245
Another thing you can do is to rewrite:
[code]
as
[code]
to really take advantage of [tag-expressions](https://github.com/cucumber/cucumber/tree/master/tag-expressions)

[2018-01-19 11:02] kdthomas2121 opened #1247 "The deprecation warning in adapter.rb is breaking our tests"
## Summary

The parser/formatter doesn't like the puts "WARNING: The formatter #{formatter.class.name} is using the deprecated formatter API which will be removed in v4.0 of Cucumber." in adapter.rb, and reports all of our tests as failing because of it. Could this be removed, as a puts shouldn't break the existing working code.

## Possible Solution

Removing line 59 in adapter.rb fixes the issue

[2018-01-19 17:02] #1110 closed

[2018-01-19 22:07] jaysonesmith opened #1248 "CircleCI CucumberPro Push Changes"
## Summary

It appears that Circle's `publish` job is failing on a PR of mine and in talking with @aslakhellesoy it seems that it may be solved with a Circle config change.

## Expected Behavior

The job should pass successfully.

## Current Behavior

On my PR #1246 a single circle job is failing with the following info:

[code]

## Possible Solution

[Change this line to be a force push instead](

[2018-01-19 22:35] aslakhellesoy commented on #1248
Thanks @jaysonesmith - I'll discuss with @tooky @jbpros @mattwynne and @romaingweb

[2018-01-19 23:27] tooky commented on #1248
We use `push —force` to publish Cucumber Pro’s own documentation for
exactly this reason.
On Fri, 19 Jan 2018 at 22:35, Aslak Hellesøy <notifications@github.com>
wrote:

--
--
+44 7919 336463
tooky@cucumber.io
https://twitter.com/tooky

--

The Cucumber logo is the intellectual property of Cucumber Ltd, a limited
company registered in Scotland, number 456793.

UK Headquarters: Cucumber Ltd, Drumsy

[2018-01-20 08:15] jaysonesmith commented on #1248
Looks like the force push is exactly what's needed. #1249 solved it perfectly and all the circle jobs have passed. No rush on this or worry if another method is decided upon. It's here and ready if we do go forward with it though.

[2018-01-20 21:09] #1248 closed

[2018-01-20 22:14] jaysonesmith commented on #1247
Hey @kdthomas2121 - Thanks for the feedback! Could you share what version of Cucumber you're using and what formatter, please?

[2018-01-20 23:17] jaysonesmith commented on #1239
@aslakhellesoy What action needs to be done on this?

[2018-01-20 23:19] jaysonesmith commented on #1215
@bv Taking a look through issues: Are you still working on this?

[2018-01-21 01:15] aslakhellesoy commented on #1239
@sebrose - the `-I` option is an alias for `--snippet-type`, which can take the values `cucumber_expression`, `classic`, `percent` or `regexp`. Not sure why it was specified as `.`, but if that's fixed in the Cyber Dojo template, we can close this.

[2018-01-21 01:15] #1239 closed

[2018-01-22 09:13] kdthomas2121 commented on #1247
No problem! Using 3.0, and 'CustomFormatter::EmptyFormatter' : 'pretty'.

[2018-01-22 22:48] muggenhor commented on #1183
Problem still exists.

[2018-01-24 01:18] jaysonesmith commented on #1021
@bv I've remade the todo file and am working my way through it from the top. Wherever my open tickets have stopped is where I have. Perhaps pick a spot further down and start or start from the bottom? Thanks! 👍

[2018-01-24 10:54] bv commented on #1021
Thank you @jaysonesmith, would start from the bottom when I get back to it

[2018-01-24 10:57] bv commented on #1215
@jaysonesmith trying to figure out why it is special about win platform

[2018-01-24 17:18] mattwynne commented on #1247
@kdthomas2121 I don't quite understand. Is it the tests for your `CustomFormatter::EmptyFormatter` that are breaking? Are they somewhere we can see?

[2018-01-24 18:42] brasmusson commented on #1247
@kdthomas2121 You should rewrite custom formatter to use the new formatter API (see for instance the [Json formatter](https://github.com/cucumber/cucumber-ruby/blob/master/lib/cucumber/formatter/json.rb)). Removing line 59 in `adapter.rb` is a really bad idea, we need to notify people still using the old formatter API, so they have a change to start using the new formatter API before the whole `le

[2018-01-25 08:42] luke-hill opened #1274 "Possible Issue: Ruby Instance Variables leaking between scenarios"
## Summary

Each scenario should be a blank canvas. Variables don't leak in between features, but they seem to be leaking in between scenarios

## Expected Behavior

Variables don't leak in between scenarios (In my attached zip file, you should get 3 different random numbers - 99% of the time anyways!). I should point out I believe this to be an issue, but it might be me misunderstanding the behav

[2018-01-25 08:42] luke-hill commented on #1274
[cucumber test - leaking instance vars.zip](https://github.com/cucumber/cucumber-ruby/files/1663187/cucumber.test.-.leaking.instance.vars.zip)

[2018-01-27 05:45] jaysonesmith commented on #1215
Pasting a bit of what I've said in the committer-ruby channel on Slack here:

There's what seems to be a pretty common issue finding expected files (maybe easy-ish to sort out depending on the cause) but there's another, more complicated issue I think.

It seems like scenarios, or the files they create, are bleeding into other scenarios and causing them to fail.

[9:32 PM]
I've spent a good amount

[2018-01-28 11:55] brasmusson commented on #1274
Cucumber uses the [World](https://github.com/cucumber/cucumber-ruby/blob/master/features/docs/writing_support_code/world.feature) to isolate the execution of test cases from each other, your step definitions should make sure to only put state within the World (and not within themselves).

[2018-01-28 11:55] #1274 closed

[2018-01-30 02:15] enkessler commented on #1274
@luke-hill
Clarification: You can put state within step definitions and hooks because they have the same context as the World, a new instance of which is created for each test.

[code]

or

[code]

In your code example, however, you are storing state within the singleton instance of a Ruby class and only one of those will exist during the entire execution of Cucumber.

[code]

The `self` in the ab

[2018-02-09 17:35] jamis opened #1275 "Is the deep clone of arguments necessary?"
## Summary

I'm using Cucumber as a platform-agnostic way to describe an API in a book I'm writing, and for the most part it's working fantastically. Cucumber 3.x, though, has thrown a wrench in some of my plans, especially as I've been migrating to cucumber expressions.

This report uses the following minimal setup to demonstrate what I'm seeing.

[code]

[code]

_Please note that this setup is i

[2018-02-09 19:35] brasmusson commented on #1275
It is pretty much intentional that step argument should be able to leak state neither between steps or between scenarios, see https://github.com/cucumber/cucumber-ruby/pull/760 and https://github.com/cucumber/cucumber-ruby/issues/1219.

[2018-02-09 20:41] jamis commented on #1275
I see, thanks for pointing me at those issues, @brasmusson. I definitely understand not wanting to leak state between scenarios, but allowing data within a scenario to move between steps seems reasonable to me. Still, it has obviously been discussed before, so I won't beat a dead horse. :)

I'll explore other options. In the worst case, I can always monkey patch!

[2018-02-09 20:41] #1275 closed

[2018-02-12 08:49] fschwahn commented on #1240
This is still relevant.

[2018-02-13 19:07] crcraig92 opened #1279 "Integers are not being transformed post 3.0.0 (Built in ParameterType)"
## Summary

ParameterTypes don't seem to be functioning at all in Cucumber 3.1.0

The only Transform my framework relied on in Cucumber 2.99 was the first one in the example documentation:
[code]
According to the next line in the documentation this is handled by default, which sounds great.  But it's not working for me at all.  I constantly get "undefined method" for various mathematical operators

[2018-02-13 20:12] crcraig92 commented on #1279
I am trying to reproduce this in a minimal case framework that I can post and so far it seems like with just cucumber 3.1.0 and ruby 2.3.3p222 I can verify that an integer captured in the step is in fact transformed by default.  I will update when I have a significant reproducible case for you too work from, or if I find the issue in my larger framework.

[2018-02-13 20:59] crcraig92 commented on #1279
Further triage with a coworker shed some light on the issue.

The capture group ([0-9]+), was not caught as an integer and while I'm almost positive I tried that in the ParameterTypes, I must have overlooked that one iteration.

Adding:

[code]
Fixed the issue.

Also, I did not create the framework and I'm not sure why that was used instead of (\d+).

[2018-02-13 20:59] #1279 closed

[2018-02-14 06:40] aslakhellesoy commented on #1279
Pair programming to the rescue? :-)

[2018-02-14 14:05] crcraig92 commented on #1279
A little pair programming a little bit of talking to the rubber duck.  Seems like I've tried everything until I start asking questions to people other than myself.  Thanks to you and your team for progressing cucumber, great work.

[2018-02-18 16:34] mattwynne commented on #1198
Whatever big picture thing we end up doing, this still feature doesn’t currently have any docs.

[2018-02-19 15:11] phebus commented on #1209
Just chiming in to say I am also very much interested in a solution to this as we rely heavily on being able to replace data in data tables based on regexes. I will research as much as possible to see if I can contribute a solution, but in the meantime just wanted to +1 this feature.

[2018-02-20 06:19] xtrasimplicity commented on #1209
I've never used Transforms, but based on the following they look interesting.

https://github.com/cucumber/cucumber/wiki/Step-Argument-Transforms

Could someone please write/append some feature definitions and steps, to further illustrate this? I'd be happy to take a look at how we could implement this, when I get a chance.

[2018-02-20 13:09] akostadinov commented on #1209
@xtrasimplicity , please check my comment https://github.com/cucumber/cucumber-ruby/issues/1209#issuecomment-336122029

There is an example how it could work in the past. IMO for 3.x it is ok to have a "catch all" transformation in addition to the new available transformation options to allow all use cases. I mean we don't need restoring the full regex based transformation in 2.x series.

[2018-03-01 16:17] Suganthi06 opened #1280 "Hooks running twice with versions 2.99.0 and 3.1.0"
Hooks running twice.

## Steps to Reproduce

1. I have hooks.rb file with Before and After hooks.
_Before do
    @start_time = Time.now
end

After do
    duration = Time.now - @start_time
end_

2. When I run a scenario, 'Before' hook line '@start_time = Time.now' runs twice. Same with After hook.

## Environment
Versions I tried:
- cucumber gem versions 2.99.0 and 3.1.0
- jruby 9.1.15 and 9.1.16

[2018-03-02 09:19] aslakhellesoy opened #1281 "Step definitions with arguments fail with "No self_obj""
_From @karlhe on March 1, 2018 0:55_

## Summary

Any cucumber step that matches with a step definition will error out with something similar to this:

[code]

Step definition:
[code]

Started when I upgraded to 3.1.0, does not happen on cucumber-ruby 3.0.2.
Likely has something to do with 3.0.2 using cucumber-expressions-4.0.4, and 3.1.0 using cucumber-expressions-5.0.13

Uses a step definition w

[2018-03-02 09:24] aslakhellesoy commented on #1281
What version of cucumber-expressions are you on?

Try upgrading to cucumber-expressions 5.0.13

Does that fix it?

[2018-03-02 19:35] karlhe commented on #1281
The error happens when using cucumber-ruby 3.1.0 and cucumber-expressions 5.0.13
The problem does not occur when using cucumber-ruby 3.0.2 and cucumber-expressions-4.0.4

Let me know if there's any combinations you want me to test.

Versions of related gems if it helps:

[code]

[2018-03-04 23:42] aslakhellesoy commented on #1281
I installed jruby-9.1.16.0 and the gems you mentioned above. Then I created an empty cucumber project with `cucumber --init` and added your stepdef and a simple feature file with a matching step.

No errors.

Could you please provide an [mcve](https://stackoverflow.com/help/mcve) so we can reproduce this?

[2018-03-06 09:13] aslakhellesoy commented on #1281
Hi @karlhe - if you can help us reproduce it we'll have a look at fixing this.

[2018-03-08 17:34] akostadinov commented on #988
bump

[2018-03-08 19:20] xtrasimplicity commented on #988
@olleolleolle, do you have any thoughts on this?

[2018-03-09 06:26] olleolleolle commented on #988
I came late to the codebase. I can’t offer archeological evidence for “why” things are the way they are.

That said, I _like_ the clarity offered by having the effects of the current TERM signal at Ctrl-c in the example.

[2018-03-09 06:48] xtrasimplicity commented on #988
Thanks Olle. I agree, and can't really think of any real downsides to implementing this. If someone were to create a PR to change this (including any tests etc),  do you think the core team would be open to merging it?

[2018-03-09 07:56] olleolleolle commented on #988
@xtrasimplicity I believe they would, but I wouldn't merge it myself, on account of not having "the full picture".

[2018-03-09 08:24] xtrasimplicity commented on #988
Yep, totally understandable. Thanks for clarifying. :)

[2018-03-10 06:12] jenisys commented on #1219
Note that I have some cases where the step processing functionality (or helpers there) annotates the table, for example by adding new column(s) with this information. This happens normally in then-steps only. Use case: inspecting-steps that show you the actual value of something in an exploratory testing approach by using cucumber/behave test report as explorative test report.

On the other side,

[2018-03-14 16:31] sciros commented on #1240
I see it consistently when hitting a particular kind of error with Watir, usually when an element is not clickable at (x,y) because of an unexpected modal dialog or some-such.
I've been able to replicate it by simply adding
`raise(Selenium::WebDriver::Error::UnknownError.new('something something')`
into a step definition.

[2018-03-19 10:33] #1245 closed

[2018-03-23 13:10] Raghuram07 commented on #1109
Hi all,

[2018-03-23 13:12] Raghuram07 commented on #1109
Is there any chance that we can write a single cucumber test feature and run it in different hubs in different test environments at a time.
Thanks,
Raghu

[2018-03-23 13:18] xtrasimplicity commented on #1109
@raghuram07 I would recommend asking your query in the Cucumber slack channel, or through one of the other support channels, listed at the following link.

https://cucumber.io/support#community

Github issues are for reporting bugs and requesting new features.

[2018-03-23 13:26] Raghuram07 commented on #1109
Is there any slack group for cucumber

[2018-03-23 13:31] xtrasimplicity commented on #1109
@raghuram07 Yes, there are a few different slack channels for different purposes. Details on how to access them can be found at the link above, under the "Slack" section.

[2018-03-23 13:33] Castone22 commented on #1280
Are you requiring the hooks file manually somewhere like env?

[2018-03-25 11:19] xtrasimplicity commented on #1021
Reopened. :)

[2018-03-25 17:01] jaysonesmith commented on #1021
Thanks, @xtrasimplicity !

[2018-03-26 13:45] muggenhor commented on #1183
ping

[2018-03-26 20:59] mbigras opened #1285 "The cucumber --format stepdefs stack trace is too harsh and doesn't provide a solution"
## Summary

Thank you for this project!

I'm having an issue when using `cucumber --format stepdefs` when there is a typo in my step.
The cucumber --format stepdefs stack trace is too harsh and doesn't provide guidance to a solution.
Issues #953 and #955 point out a problem with using the `--format stepdefs` flag but don't clarify the problem or provide a solution.

The work around solution is:

*

[2018-03-27 05:30] xtrasimplicity commented on #1285
I'm not overly familiar with the codebase so I'm not sure of the feasibility, but I like the idea! :)

Would you be willing to work on a PR for this?

[2018-03-27 08:12] mrityunjeyan88 commented on #207
I am facing the same error even now. Any way I can run multiple profiles in cucumber?

[2018-03-27 08:15] reach2jeyan commented on #207
@aslakhellesoy  I am having a rake file to run the cucumber profiles. I had want to run multiple cucumber profiles with a single command. Is there any way I can do that?

`cucumber -p` still gives me the same output what @mtahir mentioned

[2018-03-28 07:00] xtrasimplicity commented on #1215
Reopened, as this is still an issue.

[2018-03-28 10:06] newtewt commented on #1240
I'm am seeing it consistently as well when the button is visible but not enabled. I see the error below then the can't modify frozen string. Causes my subsequent tests to fail. Installing syntax gem is a work around to fix the error.

Stack trace showing
`~/.rvm/gems/ruby-2.4.1/gems/cucumber-3.1.0/lib/cucumber/formatter/html.rb:571:in 'snippet'`

`element present, but timed out after 30 seconds, w

[2018-03-29 09:25] xtrasimplicity commented on #1240
@newtewt, would you be able to create a [mcve](https://stackoverflow.com/help/mcve) app to demonstrate this particular issue? I've been working on some specs but have not been able to reproduce this issue, even when `snippet` is passed an error with a frozen string. i.e.

[code]

(Note: Ideally, this spec will fail - once it does, I can work on patching it so that it doesn't).

[2018-03-29 09:32] fschwahn commented on #1240
`Html::SnippetExtractor.converter` has to be a `NullConverter` to trigger the mutation of the frozen string, the `error_line` itself does not have to be frozen.

[2018-03-29 09:37] xtrasimplicity commented on #1285
I'm working on a fix for this right now. Will submit a PR when I'm ready. :)

[2018-03-29 09:39] xtrasimplicity commented on #1240
Thanks @fschwahn! I'll take a look and see what I can do.

[2018-03-30 06:50] xtrasimplicity commented on #1240
Thanks again, @fschwahn. I can't believe I missed that!

[2018-03-31 04:33] olleolleolle commented on #1240
(Cool find, fschwan!)

[2018-03-31 04:50] #1240 closed

[2018-03-31 04:59] xtrasimplicity commented on #1285
The PR to resolve this has been merged, so I'll close this off.

[2018-03-31 04:59] #1285 closed

[2018-04-01 20:31] #1247 closed

[2018-04-02 15:08] jaysonesmith commented on #1247
@kdthomas2121 What ended up happening here for you? Were you able to modify your custom formatter?

[2018-04-03 01:00] dennis-d commented on #1281
I did some debugging in the environment and it looks like something override '==' method. At least it doesn't behave as intended

self_obj return world object `step_definition.registry.current_world`, which seens to be the correct bahavior

`<Cucumber::Rails::World+SetupHelpers+GlobalizationHelpers+DatasourceHelpers+GenerateXPath+TemporalHelpers+TableHelper+ResetSchema+SelectorHelpers+NavigationHe

[2018-04-03 02:03] aslakhellesoy commented on #1281
Thanks that sounds plausible @dennis-d. Would you be able to create an mcve, or a failing unit test to make this reproducible?

[2018-04-06 19:54] TylerRick opened #1288 "Disable color when output to file using `--out` / allow `--color` to be a per-formatter option like `--out`"
## Summary

It seems like the default behavior should be for formatters that are output to the screen to have color enabled by default, and formatters that are directed to files to have no color by default, so that you can open them in an editor and not see gobbledeygook.

The default should be overridable, however, in case you really did want to view the saved output on a terminal later (perhaps

[2018-04-16 11:01] reach2jeyan commented on #1000
Is this implemented/Fixed in cucumber 3.1.0?

[2018-04-16 14:00] aslakhellesoy opened #1290 "Cucumber.yml Re-run issue"
_From @reach2jeyan on April 16, 2018 9:11_

I want to re-run the failed scenarios in cucumber, and I understand I can do it using the command

`cucumber --tags @abc --format json --out abc.json --format pretty -f rerun --out rerun.txt || cucumber @rerun.txt`

Now, As I am implementing parallel tests and I am launching multiple scenarios in different devices. This is done by launching multiple cucu

[2018-04-17 11:57] reach2jeyan commented on #1044
Flaky tests still fails the scenario, How can i force cucumber to have a pass if the scenario has passed during the re-run. I see this is the simplest thing I can implement comparatively with `cucumber_failures.log` or `re-run`

[2018-04-17 12:26] xtrasimplicity commented on #1044
@reach2jeyan have you tried using the flags defined in [this (merged) PR] (https://github.com/cucumber/cucumber-ruby/pull/1169)?

[2018-04-17 16:34] reach2jeyan commented on #1044
@xtrasimplicity Yes! and still I get cucumber has failed with 1 flaky scenario and since the flaky scenario has previously failed

[2018-04-17 18:44] xtrasimplicity commented on #1044
@reach2jeyan Hmm, that's interesting. Could you please post a [MCVE](https://stackoverflow.com/help/mcve)?

[2018-04-20 21:54] aslakhellesoy opened #1291 "Wrong step definition created when having "(""
_From @christianbaumann on April 19, 2018 9:43_

## Summary

I have a step definition which contains "(" and ")", eg.

## Expected Behavior

When I run cucumber and have no step definition defined, I would expect a matching step definition to be defined

## Current Behavior

Instead, following step definition is created:

## Your Environment

* Ruby: ruby 2.3.3p222 (2016-11-21 revision 56859) [x64

[2018-04-20 21:54] aslakhellesoy commented on #1291
As of [3.0.0.pre.2](https://github.com/cucumber/cucumber-ruby/blob/master/CHANGELOG.md#300pre2), cucumber-ruby supports both [Cucumber Expressions](https://cucumber.io/blog/2017/07/26/announcing-cucumber-expressions) and Regular Expressions.

Generated snippets use Cucumber Expressions, not Regular Expressions.

I think you may have stumbled upon #333 which should have been fixed by #334, but it l

[2018-04-20 21:54] aslakhellesoy commented on #1291
@christianbaumann here is a workaround for you. The generated snippet currently is:

[code]

Either change double quotes to single quotes:

[code]

Or double-escape the opening parenthesis:

[code]

The bug is in cucumber-ruby, and not in cucumber-expressions. We should change the snippet generator to use single quotes rather than double quotes, and only escape single quotes in the expressions its

[2018-04-21 14:40] xtrasimplicity commented on #1209
Bump. I'll get to this one day... :)

[2018-04-23 10:22] langalex opened #1292 "cucumber-expressions wrong number of arguments (given 0, expected 1)"
## Summary

Just upgraded:

cucumber (3.0.2 → 3.1.0)
cucumber-core (3.0.0 → 3.1.0)
cucumber-expressions (4.0.4 → 5.0.17)
cucumber-tag_expressions (1.0.1 → 1.1.1)
gherkin (4.1.3 → 5.0.0)
cucumber-rails (1.5.0 → 1.6.0)

and now I'm getting a `wrong number of arguments (given 0, expected 1) (ArgumentError)` in _cucumber-expressions_.

## Expected Behavior

There should be no ArgumentError.

## Curren

[2018-04-26 17:45] #1198 closed

[2018-05-11 01:26] viraptor commented on #1292
Possibly related issue https://github.com/cucumber/cucumber/issues/375 - does it work with expressions 5.0.15?

[2018-05-11 01:30] viraptor opened #1294 "Formatter migration path not explained"
## Summary

Migration path for the new formatter API is not explained anywhere. Due to parallel_tests, I'm getting a large number of:
[code]
But apart from https://github.com/cucumber/cucumber-ruby/blob/c26c2d102bb72193fe299b2d25edc4e82fdbba54/features/docs/extending_cucumber/custom_formatter.feature#L44-L85 I can't find any good summary of how the new version works / differs.

The existing format

[2018-05-11 02:38] viraptor opened #1295 "Frozen string failure in output"
## Summary

A random run ended up with:
[code]

## Possible Solution

This error doesn't seem to make any sense.
- if the string is appended there, the converter is NullConverter
- in that case `highlighted == raw_code`
- `raw_code` comes from `snippet_for`
- `snippet_for` returns an array

Unless something, somewhere overrides the behaviour, this can't happen 🤔But this project doesn't override an

[2018-05-11 06:47] viraptor commented on #1295
No, I don't have the Syntax gem

[2018-05-11 06:54] xtrasimplicity commented on #1295
@viraptor I've created [a PR](https://github.com/cucumber/cucumber-ruby/pull/1296) with the intention of preparing a new release in the next few weeks.

In the meantime, I would recommend either temporarily monkey-patching `Cucumber::Formatter::Html.snippet` as per https://github.com/cucumber/cucumber-ruby/pull/1287 or installing the `Syntax` gem. Once we've released a new version of `cucumber-rub

[2018-05-11 07:59] #1295 closed

[2018-05-11 09:51] langalex commented on #1292
Yes, 5.0.15 works.

[2018-05-11 10:36] langalex commented on #1292
with `gem 'cucumber', git: 'git://github.com/cucumber/cucumber-ruby.git'` (including cucumber-expressions 5.0.17) everything is green 👍

[2018-05-11 10:36] xtrasimplicity commented on #1292
Brilliant, thanks for confirming that, @langalex!

[2018-05-11 10:40] langalex commented on #1292
@xtrasimplicity thanks for putting in the time!

[2018-05-11 10:44] xtrasimplicity commented on #1292
Not a problem. I'll close this one off for the moment as it will be resolved with the release of 3.1.1. :)

[2018-05-11 11:29] aslakhellesoy commented on #1292
@xtrasimplicity - https://github.com/cucumber/cucumber/pull/380 isn't released yet, so I'm not sure the bug is fixed.

@langalex can you provide us with a [Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve) in a git repo please? We need that to reproduce the bug and verify that it's fixed.

[2018-05-11 11:40] xtrasimplicity commented on #1292
Thanks @aslakhellesoy. I've reopened this in the meantime. Did you want me to hold off on releasing `cucumber-ruby 3.1.1` until the latest changes to `cucumber-expressions` are released?

[2018-05-11 11:49] aslakhellesoy commented on #1292
Yes please

[2018-05-11 12:42] langalex commented on #1292
@aslakhellesoy [sure](https://github.com/langalex/cucumber-bug)

[2018-05-11 12:52] aslakhellesoy commented on #1292
@langalex `bundle exec cucumber` passes for me in that repo. Are you seeing something else?

[2018-05-11 12:54] langalex commented on #1292
@aslakhellesoy well, it does fail [on travis](https://travis-ci.com/langalex/cucumber-bug/builds/73141907). I ran `bundle exec cucumber features/test.feature` but same with just `bundle exec cucumber`.

[2018-05-11 12:55] langalex commented on #1292
also, it's still [failing](https://travis-ci.com/langalex/cucumber-bug/builds/73142431) with `gem 'cucumber', git: 'git://github.com/cucumber/cucumber-ruby.git'` ([cucumber-master branch](https://github.com/langalex/cucumber-bug/tree/cucumber-master)). but it works with cucumber-expressions 5.0.15.

[2018-05-12 00:05] aslakhellesoy commented on #1292
I ran it on Ruby 2.5.1, where it passes. Then tried on 2.3.6, where it fails.

This needs some more investigation. Thanks for the mcve @langalex - that will make it easier to fix.

[2018-05-16 21:54] xtrasimplicity commented on #1292
Thanks for investigating this, @alexbaranovskyi!

[2018-05-24 12:05] xtrasimplicity commented on #1292
I can confirm that v5.0.18 (from the [source](https://github.com/cucumber/cucumber-expressions-ruby)) works for me with the changes made in https://github.com/cucumber/cucumber/pull/380/files#diff-0035aaedf2d4a9c0687063ec6d379192, on Ruby 2.3.6, 2.4.3 and 2.5.0, with the CVE that @langalex posted. :+1:

[2018-05-24 17:17] jaysonesmith commented on #1021
I will get back to this eventually!

[2018-05-25 19:28] tooky commented on #1183
@raphaelmeyer was it this you mentioned today?

[2018-05-26 01:19] danascheider commented on #1288
I like this idea. WDYT @mattwynne?

[2018-05-26 01:26] danascheider commented on #1108
@brasmusson Do I understand correctly that this issue does not apply to Cucumber 3.x?

[2018-05-29 15:07] #1280 closed

[2018-05-30 13:22] Oopla opened #1300 "invalid byte sequence in UTF-8 due to special character in step definition"
## Summary

Special characters in step definition like french accuentated characters prevent the HTML report from displaying the snippet:
[code]

## Expected Behavior

If a language is supported in Gherkin .feature file, it should also be supported in step definition (.rb file).

## Current Behavior

The character 'é' is not handled properly in HTML report code snippet and breaks the report (no em

[2018-05-30 13:27] Oopla commented on #1300
I don't think so, Rubymine show UTF-8. Also checked with command line
[code]

[2018-05-30 13:29] aslakhellesoy commented on #1300
Mea culpa, I see the same error. Something must be not specifying encoding when writing the HTML report...

[2018-05-30 13:30] aslakhellesoy commented on #1300
Or maybe it's the code that tries to read the source code snippet and embed it in the HTML - that's more likely.

[2018-05-31 20:18] mattwynne commented on #1288
Hello @danascheider long time no see!

Yes, this seems like a good idea to me.

[2018-05-31 21:58] danascheider commented on #1288
I know! Life's been crazy. I might pick this up when I'm done with the other one I'm working on but don't want to leave a bunch of half-finished PR's lying around!

[2018-06-06 09:20] Paulalliants opened #1302 "cuwhich ruby"
## Summary

## Expected Behavior

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context & Motivation

## Your Environment

* Version used:
* Operating System and version:
* Link to your project:

[2018-06-06 17:38] danascheider commented on #1302
Hi there @Paulalliants - thanks for opening an issue! You'll need to edit the issue template with the information you want to include so we can help you. :)

[2018-06-07 00:06] #1302 closed

[2018-06-09 02:46] #1281 closed

[2018-06-15 08:23] aidamanna commented on #1240
Hi here! What is the status of this one? I'm having this kind of errors very often :( cc @xtrasimplicity

[2018-06-15 08:28] xtrasimplicity commented on #1240
Hi @aidamanna, this feature was released as part of [Cucumber v3.1.1](https://rubygems.org/gems/cucumber/versions/3.1.1). Have you tried using this version?

[2018-06-15 08:47] aidamanna commented on #1240
Nop, but I will now. Thanks a lot!!!

[2018-06-15 11:58] xtrasimplicity commented on #1240
@aidamanna Not a problem. Let us know if you have any issues.

[2018-06-15 15:13] xtrasimplicity commented on #1290
Hey @reach2jeyan, are you still experiencing this issue?

[2018-06-18 11:07] reach2jeyan commented on #1290
Yes i do! I cannot use `re-run` using cucumber profiles. I ended up running with `--tags` option.

[2018-06-19 15:48] fscottmiller opened #1303 "JSON Formatter Outputs an Invalid JSON"
## Summary

The JSON formatter output is an array of JSON objects (one for each feature) rather than a valid single instance of a JSON. As such, it cannot be parsed universally.
## Expected Behavior

I'd expect the JSON formatter to put out a valid JSON document which can be parsed and used in analytics without any additional transformations.
## Current Behavior

The current output looks something

[2018-06-19 20:27] aslakhellesoy commented on #1303
According to the [JSON Spec](https://www.json.org) an array is valid JSON. Where have you read it's not?

[2018-06-19 20:30] aslakhellesoy commented on #1303
We're in the process of finalising a new streaming/messaging API that will replace the JSON formatter, so I recommend you decouple your parser/analyser from the ELK interface so you can easily adopt the new messaging API when it's released.

[2018-06-20 06:14] aslakhellesoy commented on #1303
Won’t fix because:

* It would break a lot of tools that use the old format
* It’s valid JSON

[2018-06-20 06:14] #1303 closed

[2018-06-20 12:17] fscottmiller commented on #1303
Thank you for the prompt response! My apologies for not first checking the spec; I had assumed opening the json as an array was problematic as it failed with two parsers and was something I had not seen before. Clearly, though, this is something I should address in the parsers, not in the output.

Thank you very much for all your work!

[2018-06-20 16:02] akostadinov commented on #1209
unstale

[2018-06-27 15:49] Oopla commented on #1300
Hi again, did you get some time to look at this issue ?

[2018-06-27 21:01] aslakhellesoy commented on #1300
No, did you? :-)

[2018-06-27 21:01] aslakhellesoy commented on #1300
I won’t prioritise this, but feel free to submit a pull request with a fix.

[2018-06-28 07:13] Oopla commented on #1300
Sure I could try.
I never looked at cucumber sources, any idea where I should start investigating ? Which files ?

[2018-07-01 09:02] prashanth-sams opened #1304 "Cucumber runner on RubyMine doesn't work with latest cucumber versions"
## Summary

**RubyMine config:**
![image](https://user-images.githubusercontent.com/2948696/42132578-a386a642-7d2b-11e8-9281-d4bfc7055a85.png)

## Current Behavior

[code]

## Your Environment

* Cucumber version used: **3.1.0**
* Operating System and version: MacOS Sierra

[2018-07-06 18:49] sandhusatnam commented on #1026
@mattwynne I am trying the same thing as @Lupeipei did capturing screenshot of every step even the step is failed but it didn't work for me. Here's my piece of code.

AfterConfiguration do |config|
  config.on_event :test_step_finished do |event|
      puts "Failed at URL: '#{@browser.current_url}'"
      embed("data:image/png;base64,#{@browser.screenshot_as(:base64)}",'image/png')
  end
end

Any

[2018-07-10 04:32] viraptor commented on #1294
Still an issue for me.

[2018-07-10 15:39] mattwynne commented on #1026
@sandhusatnam it's hard to say... what didn't work? Did you see the `puts` output? What version of Cucumber are you running?

[2018-07-11 14:37] sandhusatnam commented on #1026
@mattwynne Thanks for your reply.
I am using version 3.1.1.
I am not able to see even the puts output when the test case finished, looks to me the event doesn't get triggered.

[2018-07-11 14:42] aslakhellesoy commented on #1026
@sandhusatnam try replacing `puts` with `Kernel.puts`.

I think the bug here is that Cucumber’s own `puts` doesn’t print what’s printed in `AfterStep`, not that the hook doesn’t run.

[2018-07-11 14:58] FedericoHenze commented on #1026
@sandhusatnam @mattwynne I'm having the same problem. In my case, the problem is that there is that **self** instance is **nil**, therefore, **@browser** is **nil** and that raise a "**nil:NilClass (NoMethodError)**" exception.
any suggestions?

[2018-07-11 15:10] sandhusatnam commented on #1026
@aslakhellesoy I am not using the AfterStep hook, I am trying to add a event in AfterConfiguration hook.
Though I tried Kernel.puts in this but doesn't work.

[2018-07-11 15:12] sandhusatnam commented on #1026
@FedericoHenze can you share the code snippet ?

[2018-07-11 15:40] sandhusatnam commented on #1026
@FedericoHenze try defining your webdriver instance in env.rb file.

[2018-07-11 15:47] FedericoHenze commented on #1026
@sandhusatnam same result, I guess is not a @driver problem because everything is nil also the self instance

[2018-07-11 17:44] aslakhellesoy commented on #1026
Can you please be more specific than "doesn't work"? Whnat are you seeing and what did you expect to see instead?

[2018-07-11 19:12] sandhusatnam commented on #1026
@aslakhellesoy well I am not able to see anything neither with **puts** nor with **Kernel.puts.**
I am expecting puts or Kernel.puts to print a string.

[2018-07-12 12:30] prashanth-sams commented on #1044
@xtrasimplicity but re-run failed tests are not going to be updated in the parent report; it will remain as a separate report with left-over failed scenarios

[2018-07-12 16:04] mattwynne commented on #1026
@sandhusatnam here are the scenarios for this feature:

https://app.cucumber.pro/projects/cucumber-ruby/documents/branch/master/features/docs/events/test_step_finished_event.feature

these are tested and passing. Can you see what's different between your code and the examples?

[2018-07-12 16:37] sandhusatnam commented on #1026
@mattwynne well I am able to print puts statement using the code snippet you mentioned above, but the test_step_results are weird.

![1](https://user-images.githubusercontent.com/26750105/42646890-33587de8-85d0-11e8-91ee-f996c6bd39fc.PNG)

Also I am not able to attach the screenshot.

[2018-07-13 12:44] mattwynne commented on #1026
Ha! I think that's because they use unicode characters for check-marks and crosses to indicate passes or failure. They're probably not coming through on your terminal for some reason. Try printing `result.class.name` instead.

[2018-07-13 13:03] #1108 closed

[2018-07-13 13:47] sandhusatnam commented on #1026
@mattwynne Great that works but what about the screenshot ?
I am to trying to capture a screenshot and embedd it into the cucumber report but the json report doesn't have anything in there related to screenshot.

Any suggestion ?

[2018-07-13 14:12] sandhusatnam commented on #1026
@mattwynne I got it its not able to add screenshot because the web driver instance is nil, not sure why so as I am able to run the test case.

[2018-07-16 07:37] aluckin3 opened #1308 "Question about cucumber"
Hi guys,
this is not really issue, but i wanted to ask you is this possible.
I have some number of scenarios, and because some things (because of different reasons) sometimes some of this scenarios fail, sometimes they succeed. Is possible that in tests, if for example 15th test fail, that i run him after failing for n times, and if test in that n times succeed, that report say that test succeed,

[2018-07-16 11:36] #839 closed

[2018-07-17 08:13] mattwynne commented on #839
💖 🌈 hooray!

[2018-07-23 12:57] xtrasimplicity commented on #1292
Thanks, @langalex!

[2018-07-23 12:57] #1292 closed

[2018-07-23 18:18] jaysonesmith commented on #1021
Aaaand keeping open again! (Sorry all!)

[2018-07-24 15:18] jaysonesmith commented on #1021
32 commits with more fixes have been made. (Many more to come)

[2018-07-24 16:25] sugu-pb opened #1312 "--retry option doesn't work in Jenkins"
I'm using --retry option, and this is working fine when I run it from my system's command prompt, but in Jenkins, it is just getting ignored. I'm on 3.0.1 version as newer versions from this is giving me "Named capture groups are not supported" issue which I do not want to fix now.

Can you please tell me why --retry option isn't working in Jenkins while works fine from the command prompt. I'm usi

[2018-07-25 04:05] jaysonesmith commented on #1021
Another 23 commits/cops down!

[2018-07-25 04:08] jaysonesmith commented on #1021
I should add that all the auto-correctable cops are now done. The next ones will require some more work and others I'll need to make some style decisions around things like line lengths and complexities. I may just leave the complexity counters where they're at as the repo has some pretty monstrous module/classes in it. Part of that size may simply be necessitated by the work we're doing, and that

[2018-07-25 11:00] sugu-pb commented on #1312
I figured out the fix.

[2018-07-25 11:00] #1312 closed

[2018-07-27 03:59] jaysonesmith commented on #1021
Alrighty! Down to the final 8 cops left in the todo file! These are going to be tough to address as they'll require some serious refactoring to handle.

[2018-07-27 05:56] jaysonesmith commented on #1021
With a85672c, I'm calling this issue **FINALLY** complete! I'll leave it open for a day for feedback/changes.

For some of the limit based cops, I chose a number that would handle the bulk of cases and then either inline disabled some or refactored. There were some scenarios where I wasn't sure how to address them and instead inline disabled. One of the main ones to point out would be setting up a

[2018-07-27 18:12] danascheider commented on #1291
I'm keeping this open for now but may close it soon and create another PR that uses the double escape instead of single quotes.

[2018-07-30 17:55] jaysonesmith commented on #1021
Turns out that the code changes made aren't suitable for use with older Ruby versions so I need to spend some time fixing that. It's mainly just updating the uses of `.match?` to use something supported by those versions.

[2018-08-01 11:37] #1183 closed

[2018-08-05 03:30] jaysonesmith commented on #1021
With @brasmusson 's changes to the match usage, this can now be considered complete! Rubocop has been a part of the rake task for a bit now, so any new development should conform to the rules. If anyone would like to go over the current rubocop file's settings, feel free to reach out or tag me in an issue!

[2018-08-05 03:30] #1021 closed

[2018-08-05 09:15] nodo commented on #1021
🎉

[2018-08-07 22:10] SeanFelipe commented on #474
exactly what I was looking for. `skip_this_scenario` works as expected. Thanks !

[2018-08-08 06:06] viraptor opened #1315 "Error missing from console output"
## Summary

Some errors are not displayed in the output properly, but they're saved in the log correctly.
Specifically, in the feature background I can see:
[code]
But the normal output does not contain the same information. I get:
[code]
but without the same console output.

## Expected Behavior

The error is visible in both the console output and the log.

## Current Behavior

The error details

[2018-08-08 06:08] xtrasimplicity commented on #1315
Does this error occur when not using parallel mode?

On Wed., 8 Aug. 2018, 16:06 Stanisław Pitucha, <notifications@github.com>
wrote:

[2018-08-08 06:12] viraptor commented on #1315
@xtrasimplicity  I can't easily answer that question unfortunately. The errors which are missing are mostly those coming from chromedriver and they're happening randomly. I reported this because I'm trying to debug/reproduce them.

Since the suite is too big to switch to sequential run and I can't reproduce the issue on demand, this limits my options :( Do you have some specific ideas I could try

[2018-08-10 04:54] viraptor opened #1316 "Request for BeforeStep / AroundStep"
## Summary

There are situations where instrumenting a step would be really useful.

## Possible Solution

Add a `BeforeStep` with an optional parameter to activate for sub-steps as well (calling `step` in a process).

## Context & Motivation

One of the examples I ran into is adding a [marginalia](https://github.com/basecamp/marginalia/) tag. While it's doable in theory by getting the scenario st

[2018-08-10 06:56] xtrasimplicity commented on #1316
I think this would be a valuable addition. Is this something you'd like to take a look at implementing? Otherwise, I can try to take a look at this sometime. :)

[2018-08-10 07:01] xtrasimplicity commented on #1315
I'm not sure, sorry. The `-p parallel` flag stood out to me, as I haven't seen it before (and assumed it was a plugin).

Is it consistently failing, and if so, is it failing at the same point?

[2018-08-10 07:12] viraptor commented on #1315
They're run against different databases and with the [https://github.com/grosser/parallel_tests](parallel_tests) gem.

It's failing very rarely (every few hundred builds?), so I'm happy to patch in some debug code and report after a while, but wouldn't be able to 100% confirm things for a while.

[2018-08-10 21:14] danascheider commented on #1316
@xtrasimplicity I don't totally agree that this is a feature we'd want. Using `step` is an antipattern, we don't want to encourage its use. @viraptor Is there a reason you're using `step` instead of helper modules or another approach to deduplicating your step code? I'm wondering if there's a use case we're not seeing.

[2018-08-10 22:38] viraptor commented on #1316
Sorry, I don't think I'm the right person to talk to about it :-) I'm just trying to instrument a large existing codebase.
The support for `step` is not critical though. I'd be happy with just steps declared in the scenario.

Re. previous question: I can give it a go, but it won't be very soon.

[2018-08-11 14:36] xtrasimplicity commented on #1316
@danascheider, I definitely agree re: nested steps being an anti-pattern, but unless I've misunderstood, this is only a small part of the initial suggestion?

[2018-08-11 20:16] viraptor commented on #1316
That's correct.

[2018-08-22 19:04] akostadinov commented on #1209
bump

[2018-08-24 20:38] danascheider commented on #1316
Got it! The way I read it that looked like the primary use case.

[2018-08-30 08:36] jackorp opened #1317 "Failing scenario Ambiguous steps"
## Summary

When running cucumber test suite, there is a failure at [features/docs/defining_steps/ambiguous_steps.feature:13 # Scenario: Ambiguous steps](https://github.com/cucumber/cucumber-ruby/blob/master/features/docs/defining_steps/ambiguous_steps.feature#L13), the output contains extra line.

## Expected Behavior

Test suite passes

## Current Behavior

The test output contains extra line `/

[2018-09-01 20:27] danascheider commented on #1317
@jackorp Ambiguous step errors are raised when multiple step _definitions_ match a single step. It would be really helpful to see your step definitions for that reason, since this is not an issue with your feature file. An example here would be if you had step definitions like this:
[code]
In this case, the step "Given a step" would match both of these expressions and therefore raise `Cucumber::Am

[2018-09-01 21:29] jackorp commented on #1317
I may have not specified. I am encountering problem with this repository's features. Specifically this Scenario is to test the [cucumber's](https://github.com/cucumber/cucumber-ruby) implementation of ambiguous steps..

[2018-09-02 19:04] danascheider commented on #1317
OH okay! I was wondering why those looked suspiciously like our steps! I'll see what I can figure out about this.

[2018-09-19 17:00] danascheider commented on #984
@apetkova It's definitely still a feature I'd be interested in adding.

[2018-09-26 07:12] xtrasimplicity commented on #1291
Bumping to remove the tag. :)

[2018-09-26 23:29] danascheider commented on #1291
Sorry for the delay on this! It's still on my radar but I'm in the process of moving to Australia so things are particularly hectic atm.

[2018-09-27 12:57] apetkova commented on #984
Actually, this feature has already been added to master, but is simply not released yet. It looks it was fixed with https://github.com/cucumber/cucumber-ruby/commit/7f43c9533691522899b87a22a700b22ae7ce20bb ; Since I don't see any tests for it, maybe it was a nice "side effect", but definitely works, so I guess this issue can be resolved?

[2018-09-28 01:09] danascheider commented on #984
@apetkova Sounds good. Feel free to reopen/ask us to reopen if it turns out not to be resolved or there's a problem.

[2018-09-28 01:09] #984 closed

[2018-09-28 12:57] xtrasimplicity commented on #1291
Awesome! All the best with the move! :)

[2018-09-30 19:48] sjakobi commented on #1300
I'd like to take care of this during this Hacktoberfest!

[2018-10-16 09:00] #1315 closed

[2018-10-18 16:35] griffincox commented on #1294
+1

[2018-10-22 12:37] akostadinov commented on #1209
bump

[2018-10-23 12:05] #1290 closed

[2018-10-23 23:59] viraptor commented on #1316
Step away from the close button, bot :)

[2018-10-24 10:16] danascheider commented on #1294
@viraptor @grosser I created this [minimal example](https://github.com/danascheider/cucumber_parallel_tests_example) to try to reproduce the deprecation warnings you're seeing. However, if I run my features with `parallel_cucumber features --runtime-log`, it doesn't seem to trigger the formatter to be used. What do I need to do differently to trigger one of the formatters to be used? I'm trying to

[2018-10-24 22:50] danascheider commented on #1291
Question on this @aslakhellesoy (then I'll stop tagging you in stuff for now!): Do we want to accommodate curly braces in step definitions? We could implement this such that Cucumber first looks for a param type with the name in the curly braces and, if it doesn't find one, assumes the curly braces are part of the step. I can think of good reasons for or against this, so I thought I'd ask for your

[2018-10-25 08:47] mlvandijk commented on #1294
Duplicate of: https://github.com/cucumber/docs.cucumber.io/issues/233 (?)

[2018-10-26 00:40] danascheider commented on #1294
@mlvandijk Yes. I just created a PR to fix this problem in the [parallel_tests](https://github.com/grosser/parallel_tests) gem, and now I'm looking at the docs to try and improve our documentation of the new API.

[2018-10-26 01:31] grosser commented on #1294
thx!

On Thu, Oct 25, 2018 at 5:40 PM Dana Scheider <notifications@github.com>
wrote:

[2018-10-26 02:07] #1294 closed

[2018-10-26 05:12] mlvandijk commented on #1294
That's awesome @danascheider Let me know if you need help with the docs!

[2018-10-26 05:15] danascheider commented on #1294
Thanks @mlvandijk, I might. I haven't worked a whole lot with custom formatters, luckily the one that needed fixing in this case was pretty straightforward.

Also @viraptor @griffincox Update `parallel_tests` to version 2.26.0, which just dropped today, and you should see the problem is fixed. I just merged a PR at my job updating this and the deprecation warnings went away. Let us know if the pro

[2018-10-28 21:37] aslakhellesoy commented on #1291
@danascheider I think this bug was (incidentally?) fixed by @acant in #1323.

No need to handle curly braces in a special way - cucumber-expressions handles escaping.

[2018-10-28 22:14] danascheider commented on #1291
Sweet!

[2018-10-29 06:50] aslakhellesoy commented on #1291
Fixed by #1323

[2018-10-29 06:50] #1291 closed

[2018-11-04 09:29] mlvandijk commented on #1294
Information regarding Ruby formatters can be found here: https://docs.cucumber.io/cucumber/reporting/

[2018-11-05 12:48] RameshGhk commented on #1026
Hi @mattwynne
I want to print the error message after the step failed. Is there way to capture the error by using AfterConfiguration hook?

Below is the example.
AfterConfiguration do |config|
  config.on_event :test_step_finished do |event|
      if event.result.failed?
      $logger.error("Exception received as #{How can I log the error message?}")
      end
  end
end
Any suggestions ?

[2018-11-05 22:15] dpsi opened #1324 "--require not being honoured with --dry-run"
## Summary

Cucumber does not honour the -r flag, and Cucumber provides no way load *.env.rb files during dry runs. From what I understand, cucumber ignores env files due to interactions with Rails. Why this option is not configurable is a mystery as not every Ruby project is a Rails project.

The --require option has the following help text: (emphasis mine)

I am not sure how much more explicit I

[2018-11-06 23:16] mattwynne commented on #1026
Hi @RameshGhk. Please try not to use GitHub issues for support. Asking in [Slack](https://cucumber.io/support#slack) is a much better choice in future for faster response.

The `event.result` is a https://www.rubydoc.info/github/cucumber/cucumber-ruby-core/Cucumber/Core/Test/Result

If it's a `Failed` you can look at the `exception` property.

[2018-11-07 00:07] dpsi commented on #1324
Here is an example: https://github.com/dpsi/cucumber-test

[code]

So is cucumber's behaviour wrong or is the help text wrong? As you can see, -r is not honoured during dry runs.

In the first one, the output is as expected, env.rb was loaded, and it put "You should see this when env.rb is loaded" to the screen.
In the second run, with just -d, the output is expected, env.rb was not loaded.
In the

[2018-11-07 00:40] danascheider commented on #1324
@dpsi Offhand I'm not sure. I was able to replicate this locally on my machine, so it's definitely not just you. Thinking about it, this seems like expected behaviour but I'll double check on that and let you know.

[2018-11-07 00:52] danascheider commented on #1324
Yes, @dpsi, this is expected behaviour. Env files are explicitly excluded in [this code](https://github.com/cucumber/cucumber-ruby/blob/d82a782de06c209707e400656ef7d9103c476241/lib/cucumber/configuration.rb#L169-L174). They are filtered out after required directories/files are identified, so the `--require` flag won't affect this behaviour. What do you have in your `env.rb` file that you need to r

[2018-11-07 01:11] dpsi commented on #1324
@danascheider First, thanks for verifying this on your end.

The env.rb would be the one requiring libraries, setting constants, among other things. All in all, it sets up the environment. Without it, other files will end up with uninitialized constants, no method errors, etc.

While doing googling for my issue, I came across this: https://groups.google.com/d/msg/cukes/Kucz1T_VBss/VkEUBpY6MQAJ

So

[2018-11-07 01:15] danascheider commented on #1324
@dpsi What I'm not sure I understand is why you need to set constants and require libraries if the steps aren't running. Could you clarify that for me?

[2018-11-07 02:07] dpsi commented on #1324
I don't need them at all, but cucumber still has to load any non-env files, and any code not inside a step or method would still get executed, even during a dry-run. So if env,rb sets @config then when my_setup_helper.rb tries to access @config[:some_var] it will get a no method error.

I understand that perhaps my issue is unusual, but I am working on a fairly old codebase (we just upgraded from

[2018-11-07 02:32] danascheider commented on #1324
I definitely understand the challenges of working with a legacy code base. It would definitely be a small change, but I would need to get the input of other maintainers before I could make such a change. In the Google group link you shared, @mattwynne appears to suggest he'd be open to this kind of change in the API but I'd also be curious what @aslakhellesoy has to say about it.

[2018-11-07 13:09] entwanderer opened #1325 "Can not add descriptions to Cucumber::Rake::Task"
## Summary

I want to add descriptions to Cucumber::Rake::Task as i'm get used for rake tasks.

## Expected Behavior

Given the following tasks are in my Rakefile:
[code]

When i run `rake --tasks` i get the following output:
[code]

## Current Behavior

When i run `rake --tasks` with the Rakefile examples in the section "Expected Behaviour" i get the following output:

[code]

Because i have lots

[2018-11-07 16:46] mattwynne commented on #1324
I'd like to see us do something to support your use-case in 4.0 @dpsi, I don't think it's too late. If you think it's only a minor change @danascheider why don't we go for it?

As you've recognised, @dpsi, the current behaviour around requiring files is kinda crufty and incoherent. I'd love this to get some attention for 5.0 if you were interested in helping us spec it out in a more holistic / com

[2018-11-07 17:53] luke-hill commented on #1325
Whilst it's a valid complaint. If your output is to be treated as literal why are you not naming your rake tasks thus.

[code]

Ruby as a language is designed to be fairly self-descriptive, given its nomenclature and syntax I'm surprised you've not looked at maybe namespacing. So you could have `my_feature:all` or `my_feature:smoke`

That's not to say your issue isn't an issue. Just the instance y

[2018-11-07 22:06] danascheider commented on #1324
Sure thing. I'll go ahead and make a PR for that today @mattwynne.

[2018-11-07 22:16] danascheider commented on #1325
@luke-hill I don't think that's necessarily the case. Personally, even when my Rake tasks have descriptive or namespaced names, I still like them to have good descriptions. I think this would be a worthwhile change to make to Cucumber.

[2018-11-07 23:56] dpsi commented on #1324
@mattwynne @danascheider sounds good to me. There are a couple areas I can think of for cucumber 5. Looking forward to the future.

Thanks for the help!

[2018-11-08 06:49] aslakhellesoy commented on #1324
Sorry I’m late to join the discussion. When we added dry runs back in the day, I think the purpose was to validate that all the feature files are syntactically correct. Nothing more.

Validating that feature files are correct only requires parsing. No user code needs to be loaded or executed.

I’m curious to understand what additional behaviour you are expecting from a dry run. Or put differently:

[2018-11-08 07:02] aslakhellesoy commented on #1324
I’m reopening this issue as it’s not resolved yet. We’ll close it when a fix is merged to master, or if the suggestion is rejected altogether.

My position is that no files shoukd be loaded during a dry run, and that `—require` should either cause an immediate error or be ignored altogether.

[2018-11-08 07:57] dpsi commented on #1324
@aslakhellesoy I'm trying to both validate feature files, and to find un-used step-defs. I think the issue is that Cucumber uses Kernel#load, which causes code to be executed. Even if we instead require the file, code would still be executed. dry-run is somewhat misleading, when it loads all the files it never calls any of the step definitions you wrote. Therefore it is a 'dry-run' in the sense th

[2018-11-08 08:20] aslakhellesoy commented on #1324
I just realised (by reading the changelog) that the purpose of dry run is also to print information about what step definitions are implemented/undefined.

I was a bit surprised about this (I never use this feature myself), but I can see how it can be useful.

With this insight I think it makes sense to load exactly the same files as during a “wet” run. The `—dry-run` option should not affect what

[2018-11-08 20:19] #1317 closed

[2018-11-08 21:35] alfarore commented on #1316
Hi everyone, not sure if this is the right place to ask this but I'd give it a try.
I've just started to do test automation using Cucumber and Ruby and I'm not sure how to implement 'Before' and 'After' hooks with ruby.
Can someone please direct me to a helpful site or if you have an own example? I would really appreciate it.
Thank you!

[2018-11-08 22:00] danascheider commented on #1324
@aslakhellesoy Cool, that is what the PR does.

[2018-11-08 22:04] #1324 closed

[2018-11-09 11:38] RameshGhk commented on #1026
Hi @mattwynne ,
Thanks a lot for your quick response. Working now..  Yes I will follow slack going forward.

[2018-11-14 22:29] dpsi opened #1327 "Global teardown hooks getting called unexpectedly"
## Summary
[According to the docs](https://docs.cucumber.io/cucumber/api/#global-hooks), the only way to have a global teardown ie Rspec-style AfterAll step is to use the Kernel#at_exit method. However, this abuse of the Kernel method causes issues with any code that performs forking. Take for example the Parallel gem which by default uses the fork method. Ruby will call the parent's at_exit handl

[2018-11-19 17:53] Githraine commented on #984
We finally got upgraded to the latest Cuke.
This is NOT resolved.  Given this scenario outline:
  @mm_calc_tvr_001 @wip
  Scenario Outline: Traditional vs Roth Base tests - <title>
    Given I output "<title>"
      And I am on the "Traditional vs Roth Calculator" calculator page
    When I populate the calculator from "<inputs>" and "calculate"
    Then the calculator results should match the "ba

[2018-11-24 02:53] danascheider commented on #1325
@luke-hill @entwanderer I just realised that in [this code](https://github.com/cucumber/cucumber-ruby/blob/24bf293889ff46a627ad6ba40a4d3740223841c2/lib/cucumber/rake/task.rb#L136-L145) - the `initialize` method of `Cucumber::Rake::Task` - the description can be passed in as a second argument to `Cucumber::Rake::Task.new` (the first argument being the name of the task if not the default name, which

[2018-11-24 03:00] danascheider commented on #1316
@alfarore Although we don't have a whole lot of docs about hooks, you can look at [this section](http://docs.cucumber.io/cucumber/state/#cleaning-your-database) for an example of how hooks are implemented in Ruby. I'll look into adding docs on hooks as well.

[2018-11-26 15:21] luke-hill commented on #1325
@entwanderer replace

[code]

With
Cucumber::Rake::Task.new(:my_task, "This is my cucumber rake task") do |t|
  t.profile = 'default'
  t.cucumber_opts = %w{--tags @my-special-tests}
end
[code]

[2018-11-26 15:21] #1325 closed

[2018-11-26 19:38] Githraine opened #1328 "Scenario outlines still don't support examples in title"
We finally got upgraded to the latest Cuke.
This is NOT resolved.  Given this scenario outline:
  @mm_calc_tvr_001 @wip
  Scenario Outline: Traditional vs Roth Base tests - <title>
    Given I output "<title>"
      And I am on the "Traditional vs Roth Calculator" calculator page
    When I populate the calculator from "<inputs>" and "calculate"
    Then the calculator results should match the "ba

[2018-11-26 21:30] danascheider commented on #1328
I'm labelling this a bug since we said it was supposed to be fixed in an earlier version of Cucumber.

[2018-11-26 21:58] jaysonesmith commented on #1328
Thanks for bringing this up to us, @Githraine! We do have tests for that behavior, but perhaps something is up with how they're working or something along those lines. We'll get this ironed out.

[2018-11-26 23:39] danascheider commented on #1328
So @Githraine let me get this straight as far as the behaviour you're expecting to see.

When I run the code you provided (after writing trivial step definitions so as not to get pending steps), this is the output I get:
[code]
If I understand correctly, the output you'd rather see would look like this:
[code]
(Obviously that's not exactly what it would be since it would include locations of step

[2018-11-27 15:47] Githraine commented on #1328
Ok, here is what I currently get (small edits for clarity):
`Tags: @@mm, @@mm_calc, @@mm_calc_tvr, @@not_prod
Feature: Calculators - Traditional Vs Roth
Scenario: Traditional vs Roth Base tests - <title>, Examples (#1)
Tags: @@mm_calc_tvr_001, @@wip
Start Timestamp : 27 November 2018 - 10:42:49 AM  (2018-11-27 15:42:49 UTC)
Feature: Calculators - Traditional Vs Roth, Scenario: Traditional vs Roth

[2018-11-27 17:47] jaysonesmith commented on #1328
I'll let @danascheider reply, but also wanted to ask if you could give us the output from `bundle exec cucumber --version` please? The fix is currently in the v4.0.0.rc1 version.

[2018-11-27 19:10] Githraine commented on #1328
Ah, well there is a problem!  Our framework just jumped up to 3.1.2
I thought we jumped to latest.
I just changed my local to latest and I am getting 4.0.0.rc.1
However I am getting this error on that version:
cannot load such file -- cucumber/core/ast/empty_multiline_argument

[2018-11-27 19:33] brasmusson commented on #1328
What gem is requiring `cucumber/core/ast/empy_mutliline_argument`? Not the `cucumber` gem, it depends on v4.0.0 of the `cucumber-core` gem (in which the module `cucumber/core/ast` is removed).

From what are you getting the output? A custom formatter?

[2018-11-27 19:59] Githraine commented on #1328
I cannot find anything on empy_mutliline_argument, I am not sure what is using it.  I'll keep digging, thx

[2018-11-28 10:10] entwanderer commented on #1325
@luke-hill thank you for your reply with a working solution example.

I suggest to adjust the API of cucumber tasks to match the usual rake tasks.

[2018-11-28 16:07] Githraine commented on #1328
Ok, looks like it is a RubyMine dependency.  I am working the issue

[2018-11-28 17:55] Githraine commented on #1328
When will 4.0.0 go from release candidate to actual stable version?

[2018-11-28 23:53] danascheider commented on #1328
@Githraine The `parallel_test` dependency will probably affect my employer if they try to upgrade so I'll look into that as well.

[2018-11-29 18:37] brasmusson commented on #1328
The tag expression handling has been moved to the gem [`cucumber-tag_expressions`](https://github.com/cucumber/cucumber/tree/master/tag-expressions).

[2018-12-05 02:40] karlhe commented on #1281
Sorry I haven't followed up on this, but I finally got around to looking at it a bit.
mcve: https://github.com/karlhe/cuketest

The error is due to bad interaction with this in `env.rb`:
[code]

[code]

This is the XPath module from Capybara: https://github.com/teamcapybara/xpath

With a quick look at what the xpath module does, I can see why this might cause issues.

It's pretty easy to work arou

[2018-12-05 04:50] danascheider commented on #1288
Hey, just noticed I said I'd pick this up when things calmed down. I'm taking a look at it now!

[2018-12-10 15:15] Denbeelen opened #1333 "Cucumber returning non-zero exit code when failing test passes on --retry"
When i run my test with the command:

cucumber <feature> --retry 1 --color -p default -t @firstrun -f pretty  --format json -o ./reports/test.json

then i see in the json the step that failed first and after the run passed
this results in

8 scenarios (1 flaky, 7 passed)
28 steps (1 failed, 1 skipped , 26 passed)

Problem is that in Jenkins cucumber report marks build as failed because 1 step fail

[2018-12-11 23:39] rlgomes opened #1334 "typo in the method name at this line ?"
https://github.com/cucumber/cucumber-ruby/blob/c44b6bc5e0ecee98dd1daef5be0c7f0142a57d29/lib/cucumber/formatter/stepdefs.rb#L10

I believe the idea here was to override `max_stepdef_length` and not `max_step_length`which doesn't exist.

[2018-12-14 09:02] olleolleolle opened #1336 "CI: Fix JRuby build (google-protobuf not working with JRuby)"
## Summary

In #1335, I tried to use JRuby 9.2.5.0, and looked at the CI output.

The JRuby build was broken.

## Expected Behavior

I expected the `bundle install` to pass.

## Current Behavior

[There was a failure to `bundle install`](https://circleci.com/gh/cucumber/cucumber-ruby/2307).

## Possible Solution

If a fix to protocolbuffers/protobuf#1594 appears, this would resolve this problem.

[2018-12-19 23:32] peagha opened #1337 ""Parameter types cannot be optional" error when parentheses used around parameters"
## Summary
I cannot map a step using Cucumber Expressions when I have parentheses around a parameter. The parenthesis is already [escaped](https://docs.cucumber.io/cucumber/cucumber-expressions/#escaping).

## Expected Behavior

Given a feature:
[code]
and a step definition:
[code]
When i run `cucumber`
Then it should succeed

## Current Behavior

It fails with the message:
[code]
<details>

[code

[2018-12-20 16:56] luke-hill commented on #1337
It seems as though you're having 2 conflicting statements (Optional stuff inside bracket literals and a parameter-type)

A workaround (albeit not fixing the issue), would be to create a custom parameter type that has enforced brackets. i.e. `/\(\d+\)/` and call it something like `bracketed_number`

Then you could say `Given('an int is inside parenthesis like this {bracketed_number}') do |int|`

[2018-12-20 17:13] peagha commented on #1337
@luke-hill thanks for your answer!

I don't know if I got something wrong, but I expected that by escaping the parentheses I wouldn't have it interpreted as optional; I don't mean to use the "optional" feature at all.

If the parentheses are escaped, what makes sense to me is for them to work just like any literal text. Do you see this scenario as an issue or Cucumber is behaving as expected?

[2018-12-20 17:15] luke-hill commented on #1337
So I've spent a bit of time diving into the expressions stuff, and know a bit how it works. I think more-often than not these are edge cases which are either uncovered or conflicting.

So with this, the example shows using brackets to wrap some form of "regular" regex. However you're using a cuke-exp (Pre-defined), inside the brackets. Which are 2 different items, which could conflict.

I'll have

[2018-12-20 17:49] luke-hill commented on #1337
So I can see where it is failing. But I've managed to get a simple runthrough working.

Also for some reason the master branch is tracking version 6.2.1 but on rubygems only version 6.0.1 is released. Can you try hitting master, as there was some commits in recently which look at this issue (By commit msg)

[2018-12-22 00:49] karlhe commented on #1333
This also applies to junit output. When retry is on it will create a new `<testcase>` block for each attempt, so if it succeeds on the 3rd retry the junit output shows 2 failures.

[2018-12-23 12:10] akostadinov commented on #1209
bump

[2018-12-28 20:18] peagha commented on #1337
I ended up creating a repo for reproducing the error: https://github.com/peagha/cucumber_parameter_issue

@luke-hill I don't know if I understood you; is this issue solved in the master branch? I've checked the latest commits, but didn't find anything related to this issue.

[2018-12-31 07:30] akostadinov commented on #1209
/stupid_bot

[2019-01-08 09:31] luke-hill commented on #1337
I can reproduce the failure easily from your repo. Will look into this.

[2019-01-08 10:41] serhatbolsu opened #1340 "Retry does not trigger some formatter methods"
cucumber (3.1.2)

## Summary

I would like to use `--retry`` while having html / or a custom formatter implemented. I have realized
following events does not trigger while retrying a failed test case:
[code]

## Expected Behavior

I would like to use formatter as while using a test case with examples. Ex.
[code]
## Current Behavior

Table row filter's only trigger for the first run, and does not t

[2019-01-08 10:45] luke-hill commented on #1337
Good news and bad news.

Good news is I've found where the issue is, and how to fix it (And I have some code I "could" push up)

Bad news. There is a warning in this area as for why we make these checks. There is also (After scanning git), some extension reasoning why this check is made. Mainly made by @aslakhellesoy around 9months ago: https://github.com/cucumber/cucumber/pull/360 - In response t

[2019-01-08 19:21] rlgomes commented on #1334
@luke-hill sorry I don't have a simple repro for this as I found it only when profiling some code on my side where I had extended from the existing json formatter and noticed that this method getting called a lot and spending time when there was no ned to calculate the length of the step like the pretty formatter requires. When I dug a bit more into it I noticed the typo and overrode on my side to

[2019-01-09 02:37] karlhe commented on #1333
Caveat that I'm not the original poster but that's not quite it.

I'm using json or junit output so that Jenkins will parse the results of the test runs accordingly. The problem being that even if a test succeeds on a subsequent retry, the output still contains the earlier failed tries.

I assume the point of the --retry functionality is to account for flappy tests and not fail if it can pass on a

[2019-01-09 08:47] luke-hill commented on #1333
Right, ok that's not the way the --retry output works though?? So if that's the Original Poster's intentions then it will likely be closed.

The retry functionality aims to classify tests as flaky by returning them as having previously failed. But
 then having passed later on. If you want 2 separate reports, there are other ways to do that such as using the --rerun tag which will generate 2 separa

[2019-01-09 08:49] luke-hill commented on #1334
I'll have a quick dig into the code for this. If it is as you mentioned and that method is not defined then I'll add the extra one. But I'll need to consult whoever added it originally just to double check, as I've no idea how this is consumed.

[2019-01-15 10:46] mlvandijk commented on #1043
Added "Slow burner" label, to stop Stalebot from closing the issue.

[2019-01-15 13:08] pvalena opened #1341 "Ruby 2.6 compatibility issues on Fedora Rawhide"
## Summary
nested Features / tests are failing, due to additional Ruby trace output with dynamic steps.

## Current Behavior
In comparison with the [expected output](https://github.com/cucumber/cucumber-ruby/blob/master/features/docs/defining_steps/nested_steps.feature), the output contains an entry from `forwardable.rb`:
[code]
and also here:
[code]

As seen in our [Fedora build](https://copr-be.

[2019-01-16 13:42] junaruga commented on #1341
I see Ruby 2.6 (RC) is added on Circle CI.
https://github.com/cucumber/cucumber-ruby/blob/master/.circleci/config.yml
But the CI on master branch is not regularly executed? Can you enable cron mode?
https://circleci.com/gh/cucumber/workflows/cucumber-ruby/tree/master

[2019-01-17 13:01] JaniJegoroff opened #1342 "4.0.0.rc.1 + Ruby 2.6.0 compatibility"
## Summary

Cucumber version 4.0.0.rc.1 seems to be incompatible with Ruby 2.6.0 whereas everything works fine with Ruby 2.5.3

(Official Cucumber version 3.1.2 is working fine with Ruby 2.6.0)

[code]

## Environment

* macOS Mojave 10.14.2 (18C54)
* Ruby 2.6.0
* Cucumber 4.0.0.rc.1

[2019-01-22 08:39] luke-hill commented on #1341
@pvalena - Do you have a github repo I could clone that shows this failing. Ideally with the smallest amount of code possible?

[2019-01-22 09:06] pvalena commented on #1341
I do use simply Ruby 2.6 ([on Fedora](https://copr.fedorainfracloud.org/coprs/pvalena/ruby/)) and execute your test suite(cloned repo at git tag v3.1.2): `rspec spec`.

[2019-01-22 09:08] pvalena commented on #1341
_Note: we currently workaround this by [disabling the failing scenarios](https://src.fedoraproject.org/rpms/rubygem-cucumber/pull-request/2#request_diff)._

[2019-01-22 09:47] luke-hill commented on #1341
And do you observe this on other operating systems? If not could you amend the issue title accordingly?

[2019-01-23 14:47] luke-hill commented on #1337
@peagha Im just going to push up the branch to the cucumber repo and go from there.

[2019-01-25 19:51] #1327 closed

[2019-01-25 21:59] viraptor commented on #1316
Bad bot...

[2019-01-29 11:23] luke-hill commented on #1316
I had a brief dive into how hooks are created and registered and part of it seems simple to implement, but then I struggled to find how the caller-chain actually then decided which type of hook it was (I can see the different method names, but struggled to find the bit that made it select a type), and also how the hooks were fired (Again I could find the methods, but not spotting how they're selec

[2019-01-30 15:53] SymphonicJohn commented on #1333
Two sets of html are not the objective in my use case.
Cucumber formatted xml generate an Allure html report, but my CICD gate between environments only reads junit.
Does anyone have a workaround for handling flaky tests for junit output?
Thanks

[2019-02-05 09:20] luke-hill commented on #1333
@SymphonicJohn if you have an issue it's probably worth you opening a separate issue

[2019-02-05 23:34] danascheider commented on #1333
@luke-hill So I'll preface this by saying that my opinion, and I suspect that of the other core maintainers as well, is that flaky features should be fixed or removed and not remain flaky indefinitely. After all, most people wouldn't want to deploy code that sometimes works to production, and "sometimes" is all that a flaky feature guarantees.

All that said, we already have added the `--retry` fu

[2019-02-06 08:42] luke-hill commented on #1333
I think that's what I hinted at in my interpretation of the issue report.

If you have a situation where you have 4 flaky tests and they pass on --retry, a 0 exit code should be returned.

But given the issue has twisted and turned a bit and I've no idea of the OP intentions, I've no idea what to do here, because it feels like it's 3/4 issues in one.

[2019-02-06 13:11] SymphonicJohn commented on #1333
Thanks for looking at this. I thought my aim was the same as OP's because we both seem to want a test that passes on retry to not indicate as failed to our pipelines (non zero exit code in their case and failures in the xml in mine). I can open this as a separate ticket if you still feel this is different enough.

I agree that it would be nice to fix flaky tests so that they don't occur. The sourc

[2019-02-07 07:11] #1328 closed

[2019-02-11 08:58] luke-hill commented on #1334
@rlgomes - This is currently awaiting some input from yourself. If you think it's no longer an issue then we can close up this issue.

[2019-02-11 16:59] rlgomes commented on #1334
hey @luke-hill thanks for taking a look, its not a big deal for me as I've overridden the method locally but thought you folks would want to know. No reason to spin more wheels here and we can close this and leave it for a future reference if someone finds a really good reason to fix that.

[2019-02-11 16:59] #1334 closed

[2019-02-24 06:51] olleolleolle commented on #1336
@luke-hill Good news - there's been a development - https://rubygems.org/gems/google-protobuf now has a `3.7.0.rc.2` - let's see how that flies.

[2019-02-25 05:26] serhatbolsu commented on #1340
Hi, what do you think about this, is there a simple solution ? If you point me in correct place, I might work on a PR as well

[2019-02-25 22:20] danascheider commented on #1340
Thanks for the report @serhatbolsu! I didn't work on the `--retry` feature at the point where the newer formatter API was added, so I'm not sure what the rationale was for not firing these events on retried scenarios. As such, I'm hesitant to say whether we'd accept a PR for this. Do you know what the reasoning behind this was @luke-hill?

[2019-02-26 07:54] luke-hill commented on #1340
Not sure sorry.

I know there was a separate issue request someone submitted a while ago about the exit code potentially being incorrect. But other than that I'm not sure.

`--retry` was added in cucumber3, and I know it was a first pass approach, and there could be some tweaks made to it. The only caveat to this is I know tables have had a few teething problems going to v3 because not many people

[2019-02-26 07:59] serhatbolsu commented on #1340
@aslakhellesoy  need your assistance please

[2019-02-27 14:32] voxik commented on #1341
I think this is the same issue as #1317 and the whole problem is that the `lib/cucumber/formatter/backtrace_filter.rb` is rather naive. I believe that this line [[1]] is supposed to filter out all entries such as `/usr/share/ruby/forwardable.rb:230:in `invoke_dynamic_step'` but this filter actually works just in case that ruby is built in default configuration and installed into `/usr/local`. Howe

[2019-02-27 15:03] luke-hill commented on #1341
I'm happy to review and work with you on this, as I use Linux as well mainly (Albeit Ubuntu).

Problem: So the issue we believe is that fedora is installing stuff to a different directory based off thats the way "it" works?

Solution: The line that makes the false assumption about where ruby is needs a conditional based on if you're on fedora or not?

Am I there so far>?

If so, check out the PR.

[2019-02-28 06:19] voxik commented on #1341
This is not about Fedora. This is about a configuration of Ruby. Here are several configuration options which influences layout of Ruby directories:

[code]

As you can see, there is plenty of freedom, where Ruby can put its stuff. Various platforms are using the flags in different way.

[2019-03-03 20:21] akostadinov commented on #1209
bump

[2019-03-14 15:28] luke-hill commented on #1337
As an update @peagha this is being worked on, but has raised a few more gremlins. Items are in PR / review phase at the moment

[2019-03-15 12:08] luke-hill commented on #1342
I'm going to close this in: https://github.com/cucumber/cucumber/pull/578

This is only in `master` currently and it's something that still affects JRuby. If you find that this is not working, it is likely to be Mac specific and would need some additional info from yourself.

[2019-03-15 12:08] #1342 closed

[2019-03-15 12:09] luke-hill commented on #1336
Update. We've merged something in which "should" fix Ruby 2.2 -> 2.6, but it doesn't fix JRuby.

The issues we found was having 2 different versions bundled into the `gem` directly (Which is needed)

[2019-03-15 13:02] mvz commented on #1336
FWIW, I get the impression that JRuby is very low on the priority list for google-protobuf. So, even if they release a compatible version now, things might break again in the future.

[2019-03-19 08:19] luke-hill commented on #1337
@peagha This has been fixed for all bindings. A release will be forthcoming

[2019-03-19 09:44] reitzig commented on #1316
Just to add a concrete use case: acting on a test failure (e.g. logging the error separately) doesn't currently seem possible. While this seems reasonable:

[code]

exceptions get there. `AroundStep` would be a good place to add this kind of hook instead.
(Explicit error hooks may be nicer, but well.)

[2019-03-19 09:50] luke-hill commented on #1316
:point_up: I'm not sure what part of this you cannot do with a global `After`

Once a step fails, you can detect the exception class with `if scenario.failed?` and then go from there.

[2019-03-20 10:10] sky-eduardolopes commented on #1209
We have been delaying upgrading cucumber to 3.x for a while because of this. Are there any plans to add this capability?

[2019-03-20 10:24] luke-hill commented on #1209
No committers / maintainers have jumped on this. However this is the kind of thing that would benefit from re-linking to aslak's comment above

https://github.com/cucumber/cucumber-ruby/issues/1209#issuecomment-351425709

And the opencollective link: https://opencollective.com/cucumber

[2019-03-20 13:28] reitzig commented on #1316
Right, this seems to work:

[code]

Thanks, @luke-hill!

[2019-03-20 13:35] luke-hill commented on #1316
Closing in favour of https://github.com/cucumber/cucumber-ruby/pull/1236

[2019-03-20 13:35] #1316 closed

[2019-03-20 13:36] #1337 closed

[2019-03-21 08:25] akostadinov commented on #1209
@luke-hill , it is not only about writing some support code. When project owners need to advise what is acceptable and with what approach, there can hardly be contributions.

[2019-03-22 08:55] luke-hill commented on #1209
There is a framework issue feature request created here - https://github.com/cucumber/cucumber/issues/210

If you worked against that spec I would review as I'm sure others would, and it would be pushed in.

[2019-03-26 16:05] akostadinov commented on #1209
@luke-hill , I think cucumber/cucumber#210 is about figuring out table implementation. Question here is whether catch-all would be accepted or not. Does it make sense now or am I missing something?

[2019-03-26 16:28] luke-hill commented on #1209
I think your best bet given the length of this thread is to produce a small spike for how it would work in one example and then go from there,

Github now allows you to post a WIP PR, so you could potentially do that?

[2019-04-01 18:24] SeanFelipe commented on #1324
I use the dry-run feature exactly to find what definitions are unimplemented. We also use some metaprogramming to define our page models at runtime, so we do need the env.rb support to make a dry run work.

I'm having issues with dry run so I'll bump our cucumber version and hopefully pick up this change 👍

[2019-04-02 08:55] luke-hill commented on #1324
@SeanFelipe if you have an issue specifically with cucumber and dry-runs. It's worth opening a separate issue.

Be sure to include a github repo to a small reproducible case. See SSCCE.org

[2019-04-03 02:00] SeanFelipe commented on #1324
thanks @luke-hill . it has to do with tools like SitePrism, https://github.com/natritmeyer/site_prism , which dynamically create page models at runtime. I do have a demo repo I'm working on as well so I'll see if I can get that code to a state where the context is right for this bug, and file an issue.

Peace ~~

[2019-04-09 12:37] luke-hill commented on #1324
Ironically I am the sole maintainer of site_prism. So if you think the issue is there, open an issue there, we can work in a cucumber stack

[2019-04-09 16:34] sjoedwards opened #1347 "Method of identifying test being rerun as 'flaky'"
## Summary

First issue, so please let me know if you need any more info

This issue highlights that there does not seem to be a property in the JSON report that can be used to clearly identify flaky tests which have previously failed.

Ideally, the functionality might work in a similar way as suggested in #1333 (a flag to only output the final test run). However I understand the point that we mig

[2019-04-10 08:42] luke-hill commented on #1347
Just because you mentioned maybe attempting a PR. My advice is hold off.

Gherkin 6 and Cucumber4 will attempt to use protocol-buffers to send language agnostic info and the first area we're looking into rewriting is the formatter(s)

[2019-04-10 09:15] sjoedwards commented on #1347
Thanks @luke-hill, I'll keep an eye out. Do you know at this stage whether the ability to retry is proposed in the new versions of Gherkin and Cucumber?

[2019-04-10 23:40] danascheider commented on #1347
I think it'd be good to have a way to identify flaky tests in JSON output, but I'd be curious to see what the other maintainers think about that idea and about your specific implementation suggestion before I give it the go-ahead.